{# NOTE no hacer auto-indent #}
{% macro nav_tabs_add(url, data_parent, href, icon, title,count) %}
	<div class="nav nav-tabs">
		<div class="nav-item">
			<div class="nav-link nav_tabs_add border border-dark {% if not count %}border-bottom-0{% endif %} mouse_pointer small py-0 px-2" role="tab" data-toggle="collapse" data-parent="#{{data_parent}}" href="#{{href}}" aria-expanded="false" title="Agregar {{title}}">
				<i class="material-icons vertical-center">
					{{icon}}
				</i>
				Agregar {% if count %}[{{count}}]{% endif %}
			</div>
		</div>
	</div>
{% endmacro %}

{% macro titulo_1(url, text_color, bg_color, titulo, indice) %}
	<div class="d-flex justify-content-between align-items-center {{text_color}}">
		<div class="d-flex flex-row">
			<div class="{% if indice==1 %}h6{% else %}strong h5{% endif %} mb-0">
				{{titulo}}
			</div>
			{% if url == "asignaturas" %}
				<div class="small">
					<form action="/asignaturas" method="POST">
						<input type="hidden" name="asignaturas_orden" value="{{g.settings_current_user.asignaturas_orden}}">
						<button
							role="button"
							type="submit"
							name="selector_button"
							value="asignaturas_orden_switch"
							class="btn btn-outline-dark btn-sm py-0 px-1 ml-1 border-bottom-0 rounded-0 rounded-top mouse_pointer"
							title="Ordenadas por {{ asignaturas_orden_switch(g.settings_current_user.asignaturas_orden) }}">
							<i class="material-icons vertical-center">wrap_text</i>
						</button>
					</form>
				</div>
			{% endif %}
		</div>
		{%from '_macro.html' import nav_tabs_add %}
		{% if url == 'tutorias' %}
			{{nav_tabs_add(url='tutorias',data_parent='parent_tutoria',href='tutoria_add',icon='schedule', title='tutoría')}}
		{% elif url == 'alumnos' %}
			{{nav_tabs_add(url='alumnos',data_parent='parent_alumno',href='alumno_add',icon='person_add', title='alumno')}}
		{% elif url == 'asignaturas' %}
			{{nav_tabs_add(url='asignaturas',data_parent='parent_asignatura',href='asignatura_add',icon='person_add', title='asignatura')}}
		{#
		{% elif url == 'admin_citas' %}
			{{nav_tabs_add(data_parent='parent_cita',href='cita_add',icon='playlist_add', title='cita')}}
		{% elif url == 'admin_categorias' %}
			{{nav_tabs_add(data_parent='parent_categoria',href='categoria_add',icon='view_list', title='categoría')}}
		{% elif url == 'admin_preguntas' %}
			{{nav_tabs_add(data_parent='parent_pregunta',href='pregunta_add',icon='playlist_add', title='pregunta')}}
		{% elif url == 'settings_grupos' %}
			{{nav_tabs_add(url='grupos',data_parent='parent_grupo',href='grupo_add',icon='group_add', title='grupo')}}
		#}
		{% endif %}
	</div>
	<div class="divider {{bg_color}} {% if indice==1 %}{% else %}grueso{% endif %}"></div>
{% endmacro %}

{% macro admin_cuestionario_pregunta(bg_color,pregunta_edit,pregunta_add,categorias_sql, categoria_id,categoria_enunciado,categoria_color, params) %}
<div class="bg-{{bg_color}} pl-2 py-0 mt-2 mb-2 {% if not preguntas_by_categoria_id(categoria_id, visible=True) %} text-warning {% else %} text-white {% endif %}">
	{{categoria_enunciado}}
</div>
{% for pregunta in preguntas_by_categoria_id(categoria_id) %}
	<a id="anchor_pre_{{hashids_encode(pregunta.id)}}"></a>
	<a data-toggle="collapse" data-parent="#parent_pregunta" href="#pregunta_{{hashids_encode(pregunta.id)}}" class="collapse_header border_bottom" aria-expanded="false" title="{{pregunta.enunciado_ticker}}">
		<div class="media">
			<span class="capital {% if pregunta.visible %}capital-mutted{% else %}capital-warning{% endif %}">{{pregunta.orden}}</span>
			<div class="media-body">
				<div class="padding_l_2">
					<span style="color:{{categoria_color}};">{{pregunta.enunciado}}</span>
					{% if pregunta.active_default %}
						<span class="badge badge-info float-right" title="Activada por defecto">
							default
						</span>
					{% endif %}
				</div>
			</div>
		</div>
	</a>
	<div id="pregunta_{{hashids_encode(pregunta.id)}}" class="collapse {% if equal_str(pregunta.id, params['current_pregunta_id']) and params['collapse_pregunta_edit'] %} show {% endif %}">
		<div class="card border-gray z-depth-1-1-less my-2">
			<div class="card-body p-2">
			<form action="/admin_cuestionario" method="POST">
				<div class="row">
					<div class="form-group col-md-12">
						<div class="input-group">
							<input
								type="text"
								{% if not equal_str(pregunta.id, params['current_pregunta_id']) or not params['pregunta_edit_link'] %}
								readonly
								{% endif %}
								class="form-control {% if request.method=='POST' and params['collpase_pregunta_edit'] %} {% if pregunta_edit.enunciado.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
								name="{{pregunta_edit.enunciado.name}}"
								value="{% if equal_str(pregunta.id,params['current_pregunta_id']) and request.method=='POST' and params['collpase_pregunta_edit'] %}{{pregunta_edit.enunciado.data}}{% else %}{{pregunta.enunciado}}{% endif %}"
								placeholder="{{pregunta_edit.enunciado.label.text}}">
							<span class="input-group-addon {% if request.method=='POST' and params['collpase_pregunta_edit'] %} {% if pregunta_edit.enunciado.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{pregunta_edit.enunciado.label.text}}</span>
						</div>
					</div>
					<div class="form-group col-md-12 mb-3">
						<div class="input-group">
							<input
								type="text"
								{% if not equal_str(pregunta.id, params['current_pregunta_id']) or not params['pregunta_edit_link'] %}
								readonly
								{% endif %}
								class="form-control {% if request.method=='POST' and params['collpase_pregunta_edit'] %} {% if pregunta_edit.enunciado_ticker.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
								name="{{pregunta_edit.enunciado_ticker.name}}"
								value="{% if equal_str(pregunta.id,params['current_pregunta_id']) and request.method=='POST' and params['collpase_pregunta_edit'] %}{{pregunta_edit.enunciado_ticker.data}}{% else %}{{pregunta.enunciado_ticker}}{% endif %}"
								placeholder="{{pregunta_edit.enunciado_ticker.label.text}}">
							<span class="input-group-addon {% if request.method=='POST' and params['collpase_pregunta_edit'] %} {% if pregunta_edit.enunciado_ticker.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{pregunta_edit.enunciado_ticker.label.text}}</span>
						</div>
					</div>
					<div class="media col-sm-12 col-md-8 mb-2">
						<div class="input-group align-self-center">
							<select name="{{pregunta_add.categoria_id.name}}" class="form-control" required {% if not equal_str(pregunta.id, params['current_pregunta_id']) or not params['pregunta_edit_link'] %} readonly {% endif %}>
								<option value="{% if equal_str(pregunta.id,params['current_pregunta_id']) and request.method=='POST' and params['collpase_pregunta_edit'] %}{{pregunta_edit.categoria_id.data}}{% else %}{{pregunta.categoria_id}}{% endif %}">
									{% if equal_str(pregunta.id, params['current_pregunta_id'])and request.method == 'POST' and params['collpase_pregunta_edit'] %}{{categoria_by_id(pregunta_edit.categoria_id.data).enunciado}}
									{% else %}{% if categoria_by_id(pregunta.categoria_id).enunciado %}{{categoria_by_id(pregunta.categoria_id).enunciado}}{% else %}elija categoría{% endif %}{% endif %}
								</option>
								{% for categoria in categorias_sql %}
									<option value="{{categoria.id}}">{{categoria.enunciado}}</option>
								{% endfor %}
							</select>
							<span class="input-group-addon {% if request.method=='POST' and params['collapse_pregunta_add'] %} {% if pregunta_add.categoria_id.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">categoria</span>
						</div>
					</div>
					<div class="media col-sm-12 col-md-4">
						<div class="form-group align-self-center mb-1">
							<div class="input-group">
								<input
									type="number"
									{% if not equal_str(pregunta.id, params['current_pregunta_id']) or not params['pregunta_edit_link'] %}
									readonly
									{% endif %}
									class="form-control {% if request.method=='POST' and params['collpase_pregunta_edit'] %} {% if pregunta_edit.orden.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
									name="{{pregunta_edit.orden.name}}"
									value="{% if equal_str(pregunta.id,params['current_pregunta_id']) and request.method=='POST' and params['collpase_pregunta_edit'] %}{{pregunta_edit.orden.data}}{% else %}{{pregunta.orden}}{% endif %}"
									placeholder="{{pregunta_edit.orden.label.text}}">
								<span class="input-group-addon {% if request.method=='POST' and params['collpase_pregunta_edit'] %} {% if pregunta_edit.orden.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{pregunta_edit.orden.label.text}}</span>
							</div>
						</div>
						<div class="media-body">
							<div class="padding_l_2">
								<div class="btn-group-vertical">
									<button
										role="button"
										type="submit"
										name="selector_button"
										value="selector_move_up_pregunta"
										class="btn btn-outline-dark btn-sm"
										title="Subir posición"
										{% if equal_str(pregunta.id, params['current_pregunta_id'])and params['collapse_pregunta_edit'] %}
										{% if not params['pregunta_edit_link'] %}
										disabled
										{% endif %}
										{% else %}
										disabled
										{% endif %}
										{% if loop.first %}
										disabled
										{% endif %}>
										<i class="material-icons vertical-center">keyboard_arrow_up</i>
									</button>
									<button
										role="button"
										type="submit"
										name="selector_button"
										value="selector_move_down_pregunta"
										class="btn btn-outline-dark btn-sm"
										title="Bajar posición"
										{% if equal_str(pregunta.id, params['current_pregunta_id'])and params['collapse_pregunta_edit'] %}
										{% if not params['pregunta_edit_link'] %}
										disabled
										{% endif %}
										{% else %}
										disabled
										{% endif %}
										{% if loop.last %}
										disabled="disabled"
										{% endif %}>
										<i class="material-icons vertical-center">keyboard_arrow_down</i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group col-auto">
						<label class="custom-control custom-checkbox check_box_1">
							<input type="checkbox" {% if not equal_str(pregunta.id, params['current_pregunta_id']) or not params['pregunta_edit_link'] %} disabled {% endif %} class="custom-control-input" name="visible" value="True" {% if pregunta.visible%} checked {% endif %}>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">visible</span>
						</label>
					</div>
					<div class="form-group col-auto">
						<label class="custom-control custom-checkbox check_box_1">
							<input
								type="checkbox"
								{% if not equal_str(pregunta.id, params['current_pregunta_id']) or not params['pregunta_edit_link'] %}
								disabled
								{% endif %}
								class="custom-control-input"
								name="active_default"
								value="True"
								{% if pregunta.active_default%}
								checked
								{% endif %}>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">default</span>
						</label>
					</div>
					<input type="hidden" name="current_pregunta_id" value="{{hashids_encode(pregunta.id)}}">
				</div>
				{% if equal_str(pregunta.id, params['current_pregunta_id'])and params['pregunta_edit_link'] %}
					<div class="btn-group" role="group">
						<button role="button" type="submit" name="selector_button" value="selector_pregunta_edit" class="btn btn-outline-dark btn-sm" title="Guardar cambios">
							<i class="material-icons vertical-center">save</i>
							Guardar
						</button>
						<a data-toggle="collapse" href="#pregunta_delete_confirmar_{{hashids_encode(pregunta.id)}}" class="btn btn-outline-dark btn-sm link_without_pointer" aria-expanded="false" title="Eliminar pregunta">
							<i class="material-icons vertical-center">delete</i>
						</a>
						{% include 'admin_cuestionario_pregunta_delete_confirmar_block.html' %}
						<button role="button" type="submit" name="selector_button" value="selector_pregunta_edit_close" class="btn btn-outline-dark btn-sm" title="Cerrar edición">
							<i class="material-icons vertical-center">close</i>
						</button>
					</div>
					{% else %}
					<div class="d-flex flex-row-reverse mt-2">
						<div class="btn-group" role="group">
							<button role="button" type="submit" name="selector_button" class="btn btn-outline-dark btn-sm" value="selector_pregunta_edit_link" title="Editar pregunta">
								<i class="material-icons vertical-center">edit</i>
								Editar pregunta
							</button>
							{% if equal_str(pregunta.id,params['current_pregunta_id']) and params['collapse_pregunta_edit']%}
								<button role="button" type="submit" name="selector_button" class="btn btn-outline-dark btn-sm" value="selector_pregunta_edit_close" title="Cerrar ficha">
									<i class="material-icons vertical-center">close</i>
								</button>
							{% endif %}
						</div>
					</div>

				{% endif %}
			</form>
			</div>
		</div>
	</div>
{% endfor %}
{% endmacro %}

{% macro nav_tabs_disable(tab_active, params_args, dic) %}
	<div class="pb-2 mt-2">
		<ul class="nav nav-tabs">
			{% for tab_key in dic.keys() %}
				<li class="nav-items" aria-current="page">
					<a class="nav-link {% if tab_key==tab_active %} active {% else %} disabled {% endif %}" href="{% if tab_key==tab_active %}#{% else %}/{{dic[tab_key]}}{% if params_args %}/{{params_args}}{% endif %}{% endif %}">{{tab_key}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endmacro %}

{% macro nav_tabs_admin(tab_active, params_args) %}
	{{nav_tabs(tab_active, params_args=params_args, dic={'Cuestionario':'admin_cuestionario', 'Citas':'admin_citas', 'Global Set':'admin_settings_global', 'Usuarios':'admin_usuarios', 'Stats':'admin_estadisticas'})}}
{% endmacro %}
{% macro nav_tabs(tab_active, params_args, dic) %}
	<div class="pb-2 mt-2">
		<ul class="nav nav-tabs">
			{% for tab_key in dic.keys() %}
				<li class="nav-items" aria-current="page">
					<a class="nav-link px-2 {% if tab_key==tab_active %} active {% endif %}" href="/{{dic[tab_key]}}{% if params_args %}/{{params_args}}{% endif %}">{{tab_key}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endmacro %}
{% macro nav_bar_top(link_active, params, current_user) %}
	{% if current_user.is_authenticated %}
		{{nav_bar(link_active, params=params, dic={'Ayuda':'wellcome', 'Tutorías':'tutorias', 'Alumnos':'alumnos', 'Asignaturas':'asignaturas', 'Opciones':'settings_opciones', 'Admin':'admin_estadisticas', 'Logout':'logout'})}}
	{% else %}
		{{nav_bar(link_active, params=params,  dic = {'Inciar sesión':'login', 'Nueva cuenta':'user_add'})}}
	{% endif %}
{% endmacro %}
{% macro nav_bar(link_active, params, params_args, dic, current_user) %}
	<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary z-depth-1-less">
		<button class="navbar-toggler" role="button" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand py-0 mr-2" href="/">
			{# NOTE es necesario subir tanto para asegurar ruta de imagen para direcciones anidadas del tipo: mitutoria/informe/id/id/ #}
			<img src="../../../../static/image/nav_logo_64.gif" width="35" height="35" title="Inicio">
		</a>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav mr-auto">
				{% for link_key in dic.keys() %}
					{% if link_key != "Admin" and link_key != "Ayuda" %}
						<li class="nav-item {% if link_key==link_active %} active strong {% endif %}">
							<a class="nav-link" href="/{{dic[link_key]}}{% if params_args %}/{{params_args}}{% endif %}">{{link_key}}
								{% if link_key == 'Logout' %}
									[{{user_by_id(g.settings_current_user.id).username}}]
								{% endif %}
							</a>
						</li>
					{% elif link_key == 'Ayuda' and g.settings_current_user.visit_number <= 20 %}
						<li class="nav-item {% if link_key==link_active %} active strong {% endif %}">
							<a class="nav-link" href="/{{dic[link_key]}}{% if params_args %}/{{params_args}}{% endif %}">{{link_key}}</a>
						</li>
					{% elif link_key == 'Admin' and g.settings_current_user.role == 'admin' %}
						<li class="nav-item {% if link_key==link_active %} active strong {% endif %}">
							<a class="nav-link" href="/{{dic[link_key]}}{% if params_args %}/{{params_args}}{% endif %}">{{link_key}}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</nav>
{% endmacro %}
