{# NOTE NO se puede usar g.settings_current_user en lugar de g.settings_current_user porque esta barra se puede acceder como invitado #}
{# NOTE NO se puede hacer auto-indent  #}

{% macro nav_tabs_disable(tab_active, params_args, dic) %}
	<div class="pb-2 mt-2">
		<ul class="nav nav-tabs">
			{% for tab_key in dic.keys() %}
				<li class="nav-items" aria-current="page">
					<a class="nav-link {% if tab_key==tab_active %} active {% else %} disabled {% endif %}" href="{% if tab_key==tab_active %}#{% else %}/{{dic[tab_key]}}{% if params_args %}/{{params_args}}{% endif %}{% endif %}">{{tab_key}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endmacro %}
{% macro titulo_1(url, text_color, bg_color, titulo, subtitulo) %}
	<div class="d-flex justify-content-between align-items-center {{text_color}}">
	<div class="d-flex flex-row">
		<div class="strong h5 mb-0">
			{{titulo}}
		</div>
		{% if url == "asignaturas" %}
			<div>
				<form action="/asignaturas" method="POST">
					<input type="hidden" name="asignaturas_orden" value="{{g.settings_current_user.asignaturas_orden}}">
					<button
						role="button"
						type="submit"
						name="selector_button"
						value="asignaturas_orden_switch"
						class="btn btn-outline-dark btn-sm py-0 px-1 ml-1 border-bottom-0 rounded-0 rounded-top"
						title="Orden por {{ asignaturas_orden_switch(g.settings_current_user.asignaturas_orden) }}">
						<i class="material-icons vertical-center">wrap_text</i>
					</button>
				</form>
			</div>
		{% endif %}
	</div>

	{% if url in ['alumnos', 'asignaturas', 'tutorias'] %}
		<div class="nav nav-tabs">
			<div class="nav-item">
				<div class="nav-link active mouse_pointer small py-0 px-2" role="tab" data-toggle="collapse" data-parent="{% if url == "alumnos" %}#parent_alumno{% elif url == "asignaturas" %}#parent_asignatura{% elif url == "asignaturas" %}#parent_tutoria{% endif %}" href="{% if url == "alumnos" %}#alumno_add{% elif url == "asignaturas" %}#asignatura_add{% elif url == "tutorias" %}#tutoria_add{% endif %}" aria-expanded="false" title="Agregar {% if url == "alumnos" %}alumno{% elif url == "asignaturas" %}asignatura{% elif url == "tutorias" %}tutoria{% endif %}">
						<i class="material-icons vertical-center">{% if url in ['alumnos', 'asignaturas'] %}person_add{% elif url == "tutorias" %}schedule{% endif %}</i>
				Agregar
				</div>
			</div>
		</div>
	{% endif %}
	</div>
	<div class="divider {{bg_color}} grueso"></div>
{% endmacro %}
{% macro nav_tabs_admin(tab_active, params_args) %}
	{{nav_tabs(tab_active, params_args=params_args, dic={'Cuestionario':'admin_cuestionario', 'Citas':'admin_citas', 'Global Set':'admin_settings_global', 'Usuarios':'admin_usuarios', 'Stats':'admin_estadisticas'})}}
{% endmacro %}
{% macro nav_tabs(tab_active, params_args, dic) %}
	<div class="pb-2 mt-2">
		<ul class="nav nav-tabs">
			{% for tab_key in dic.keys() %}
				<li class="nav-items" aria-current="page">
					<a class="nav-link px-2 {% if tab_key==tab_active %} active {% endif %}" href="/{{dic[tab_key]}}{% if params_args %}/{{params_args}}{% endif %}">{{tab_key}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endmacro %}
{% macro nav_bar_top(link_active, params, current_user) %}
	{% if current_user.is_authenticated %}
		{{nav_bar(link_active, params=params, dic={'Ayuda':'wellcome', 'Tutorías':'tutorias', 'Alumnos':'alumnos', 'Asignaturas':'asignaturas', 'Opciones':'settings_opciones', 'Admin':'admin_estadisticas', 'Logout':'logout'})}}
	{% else %}
		{{nav_bar(link_active, params=params,  dic = {'Inciar sesión':'login', 'Nueva cuenta':'user_add'})}}
	{% endif %}
{% endmacro %}
{% macro nav_bar(link_active, params, params_args, dic, current_user) %}
	<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary z-depth-1-less">
		<button class="navbar-toggler" role="button" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand py-0 mr-2" href="/">
			{# NOTE es necesario subir tanto para asegurar ruta de imagen para direcciones anidadas del tipo: mitutoria/informe/id/id/ #}
			<img src="../../../../static/image/nav_logo_64.gif" width="35" height="35" title="Inicio">
		</a>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav mr-auto">
				{% for link_key in dic.keys() %}
					{% if link_key != "Admin" and link_key != "Ayuda" %}
						<li class="nav-item {% if link_key==link_active %} active strong {% endif %}">
							<a class="nav-link" href="/{{dic[link_key]}}{% if params_args %}/{{params_args}}{% endif %}">{{link_key}}
								{% if link_key == 'Logout' %}
									[{{user_by_id(g.settings_current_user.id).username}}]
								{% endif %}
							</a>
						</li>
					{% elif link_key == 'Ayuda' and g.settings_current_user.visit_number <= 50 %}
						<li class="nav-item {% if link_key==link_active %} active strong {% endif %}">
							<a class="nav-link" href="/{{dic[link_key]}}{% if params_args %}/{{params_args}}{% endif %}">{{link_key}}</a>
						</li>
					{% elif link_key == 'Admin' and g.settings_current_user.role == 'admin' %}
						<li class="nav-item {% if link_key==link_active %} active strong {% endif %}">
							<a class="nav-link" href="/{{dic[link_key]}}{% if params_args %}/{{params_args}}{% endif %}">{{link_key}}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</nav>
{% endmacro %}
