<a data-toggle="collapse" href="#stats_usuarios" class="collapse_header_1" aria-expanded="true" title="Analisis del cuestionario">
	<i class="material-icons vertical-center">expand_more</i>
	Estadisticas de usuarios
</a>
<div class="collapse show" id="stats_usuarios">
	<div class="col pt-4 pb-3">
		numero de usuarios:
		{{data_usuarios_count(df_data_admin_usuarios)}}
		<br>
		email no validados:
		{{data_email_validated(df_data_admin_settings)[2]}}
		|
		{{data_email_validated(df_data_admin_settings)[3]}}%
		<br>
		lista robinson:
		{{data_email_robinson(df_data_admin_settings)[0]}}
		|
		{{data_email_robinson(df_data_admin_settings)[1]}}%
		<br>
		tutoria timeout:
		{{data_tutoria_timeout(df_data_admin_settings)[0]}}
		|
		{{data_tutoria_timeout(df_data_admin_settings)[1]}}%
		<br>
		ban:
		{{data_ban(df_data_admin_settings)[0]}}
		|
		{{data_ban(df_data_admin_settings)[1]}}%
		<br>
		TOP-10 usuarios mas activos:
		<br><br>
		<table class="table table-sm table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>usuario</th>
					<th>visitas</th>
					<th>ultima visita</th>
				</tr>
			</thead>
			<tbody>
				{% for key, value in data_usuarios_top_10(df_data_admin_settings).iterrows() %}
					<tr>
						<th scope="row">{{loop.index}}</th>
						<td>{{value['username']}}</td>
						<td>{{value['visit_number']}}</td>
						<td>{{value['visit_last'].strftime('%d-%B-%Y')}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<br>

		{{data_tutorias_media(df_data_admin_tutorias, 'grupo_id')}}
		tutorias / grupo
		<br>

		{{data_tutorias_media(df_data_admin_tutorias, 'alumno_id')}}
		tutorias / alumno
	</div>
</div>
