<a data-toggle="collapse" href="#vista_general" class="collapse_header_1" aria-expanded="true" title="Analisis del cuestionario">
	<i class="material-icons vertical-center">expand_more</i>
	Vista general
</a>
<div class="collapse show" id="vista_general">
	<div class="row pt-2">
		<div class="col-md-6 pb-4">
			<div class="bg-gray text-white pl-2 pt-1 pb-1">
				tutores
				<span class="badge float-right badge-info mr-2 mt-1" title="total de usuarios">
					{{stats['usuarios_all']}}
					{{singular_plural('usuario','usuarios',stats['usuarios_all'])}}
				</span>
			</div>
			<div class="progress rounded-0" title="media parametros">
				<div class="progress-bar bg-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 7px; width:{{stats['tutores_over_all']|int}}%;"></div>
			</div>
			<div class="pl-2">
				<div class="pt-2">
					email no validados
					<span class="badge badge-secondary float-right" title="{{stats['emails_no_validados_percent']|int}}% de los emails no validados">
						{{stats['emails_no_validados']}}
						|
						{{stats['emails_no_validados_percent']|int}}%
					</span>
					<div class="progress rounded-0">
						<div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width:{{stats['emails_no_validados_percent']|int}}%;"></div>
					</div>
				</div>
				<div class="pt-2">
					lista Robinson
					<span class="badge badge-secondary float-right" title="{{stats['emails_robinson_percent']|int}}% de usuarios en lista Robinson">
						{{stats['emails_robinson']}}
						|
						{{stats['emails_robinson_percent']|int}}%
					</span>
					<div class="progress rounded-0">
						<div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width:{{stats['emails_robinson_percent']|int}}%;"></div>
					</div>
				</div>
				<div class="pt-2">
					usuarios baneados
					<span class="badge badge-secondary float-right" title="{{stats['emails_ban']|int}}% usuarios baneados">
						{{stats['emails_ban']}}
						|
						{{stats['emails_ban_percent']|int}}%
					</span>
					<div class="progress rounded-0">
						<div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width: {{stats['emails_ban_percent']|int}}%;"></div>
					</div>
				</div>
				<div class="pt-2">
					preguntas no usadas [min:{{stats['preguntas_por_cuestionario_min']|int}}
					| media:
					{{stats['preguntas_por_cuestionario_media']|int}}
					| max:
					{{stats['preguntas_por_cuestionario_max']|int}}]
					<span class="badge badge-secondary float-right" title="{{stats['preguntas_por_cuestionario_no_usadas_percent']|int}}% preguntas sin usar">
						{{stats['preguntas_por_cuestionario_no_usadas']}}
						|
						{{stats['preguntas_por_cuestionario_no_usadas_percent']|int}}%
					</span>
					<div class="progress rounded-0">
						<div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width:{{stats['preguntas_por_cuestionario_no_usadas_percent']|int}}%;"></div>
					</div>
				</div>
				<div class="pt-2">
					timeout tutorias desactivado
					<span class="badge badge-secondary float-right" title="{{stats['emails_tutoria_timeout_percent']|int}}% timeout tutorias desactivado">
						{{stats['emails_tutoria_timeout']}}
						|
						{{stats['emails_tutoria_timeout_percent']|int}}%
					</span>
					<div class="progress rounded-0">
						<div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width:{{stats['emails_tutoria_timeout_percent']|int}}%;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 pb-4">
			<div class="bg-gray text-white pl-2 pt-1 pb-1">
				tutorias
				<span class="badge float-right badge-info mr-2 mt-1" title="total de tutorias">
					min:
					{{stats['tutorias_por_usuario_min']}}
					| media:
					{{stats['tutorias_por_usuario_media']}}
					| max:
					{{stats['tutorias_por_usuario_max']}}
					| total:
					{{stats['tutorias_all']}}
					{{singular_plural('tutoria','tutorias', stats['tutorias_all'])}}
				</span>
			</div>
			<div class="progress rounded-0" title="media parametros">
				<div class="progress-bar bg-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 7px; width:{{stats['profesores_sin_responder_percent']|int}}%;"></div>
			</div>
			<div class="pl-2">
				<div class="pt-2">
					profesores sin participar
					<span class="badge badge-secondary float-right" title="{{stats['profesores_sin_responder_percent']|int}}% profesores sin responder">
						{{stats['profesores_sin_responder']}}
						|
						{{stats['profesores_sin_responder_percent']|int}}%
					</span>
					<div class="progress rounded-0">
						<div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width:{{stats['profesores_sin_responder_percent']|int}}%;"></div>
					</div>
				</div>
				<div class="pt-2">
					tutorías sin una sola respuesta
					<span class="badge badge-secondary float-right" title="{{stats['tutorias_sin_respuesta_percent']}}% de las tutorias sin respuesta">
						{{stats['tutorias_sin_respuesta']}}
						|
						{{stats['tutorias_sin_respuesta_percent']|int}}%
					</span>
					<div class="progress rounded-0">
						<div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width:{{stats['tutorias_sin_respuesta_percent']}}%;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<a data-toggle="collapse" href="#tutorias_evolucion" class="collapse_header_1" aria-expanded="true" title="Evolucion participacion del profesorado">
	<i class="material-icons vertical-center">expand_more</i>
	Evolucion participacion del profesorado
</a>
<div class="collapse" id="tutorias_evolucion">
	<div class="pt-3 pb-3">
		{{highcharts_admin_tutorias_exito_evolucion(char_id='tutorias_exito_evolucion', color='#BA5FD3', df_data=stats['tutorias_exito_evolucion'])}}
	</div>
</div>
<a data-toggle="collapse" href="#tutorias_frecuencias_relativas" class="collapse_header_1" aria-expanded="true" title="frecuencias relativas">
	<i class="material-icons vertical-center">expand_more</i>
	Participacion del profesorado | frecuencias relativas
</a>
<div class="collapse" id="tutorias_frecuencias_relativas">
	<div class="pt-3 pb-3">
		{{highcharts_admin_tutorias_exito_frecuencia(char_id='tutorias_exito_frecuencia', color='#BA5FD3', df_data=stats['tutorias_exito_frecuencia'])}}
	</div>
</div>
<a data-toggle="collapse" href="#tutorias_frecuencias_absolutas" class="collapse_header_1" aria-expanded="true" title="frecuencias absolutas">
	<i class="material-icons vertical-center">expand_more</i>
	Participacion del profesorado | frecuencias absolutas
</a>
<div class="collapse" id="tutorias_frecuencias_absolutas">
	<div class="pt-3 pb-3">
		{{highcharts_admin_tutorias_exito_frecuencia(char_id='tutorias_exito_frecuencia_absoluta', color='#BA5FD3', df_data=stats['tutorias_exito_frecuencia_absoluta'])}}
	</div>
</div>
<a data-toggle="collapse" href="#usuarios_mas_activos" class="collapse_header_1" aria-expanded="true" title="Analisis del cuestionario">
	<i class="material-icons vertical-center">expand_more</i>
	TOP-20 usuarios activos
</a>
<div class="collapse" id="usuarios_mas_activos">
	<div class="pt-2">
		<table class="table table-sm table-striped table-xx">
			<thead class="bg-gray text-white font-weight-normal">
				<tr >
					<th class="font-weight-normal">#</th>
					<th class="font-weight-normal">usuario</th>
					<th class="font-weight-normal">visitas</th>
					<th class="font-weight-normal">ultima visita</th>
				</tr>
			</thead>
			<tbody>
				{% for settings in usuarios_mas_activos(20) %}
					<tr>
						<th scope="row">{{loop.index}}</th>
						<td>{{user_by_id(settings.user_id).username}}</td>
						<td>{{settings.visit_number}}</td>
						<td>{{settings.visit_last.strftime('%d-%B-%Y')}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<!-- ************************************ -->
<br><br>
