{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import titulo_user_ficha, nav_tabs %}
	<div class="paper bg-white padding_contenido">
		{{titulo_user_ficha(bg_color='bg-primary', titulo='Admin Settings', user=user)}}
		{{nav_tabs(tab_active='Alumnos', params_args=dic_encode_args({'current_user_id': user.id}), dic={'Grupos':'user_ficha_grupos', 'Alumnos':'user_ficha_alumnos', 'Tutorias':'user_ficha_tutorias', 'Cuestionario':'user_ficha_cuestionario'})}}
	</div>
{% endblock %}
