{% with %}
{% set preguntas = preguntas() %}
{% set preguntas_count = preguntas | count %}
<div class="bg-dark text-white p-2 mb-2">
	Preguntas
	<span class="badge float-right {% if preguntas %}badge-mutted{% else %}badge-warning text-white{% endif %}" title="activa por defecto">
		{{preguntas_count}}
		{{singular_plural('pregunta','preguntas', preguntas_count)}}
	</span>
</div>
<a data-toggle="collapse" data-parent="#parent_pregunta" href="#pregunta_add" class="collapse_header_1" aria-expanded="true" aria-controls="collapse_pregunta_add" title="Agregar pregunta">
	<div class="media">
		<i class="material-icons vertical-center pl-1">playlist_add</i>&nbsp;
		<div class="media-body">
			<div class="padding_2">
				agregar nueva pregunta
			</div>
		</div>
	</div>
</a>
<div class="collapse {% if params['collapse_pregunta_add'] %} show {% endif %}" id="pregunta_add">
	<br>
	<div class="padding_3">
		<form action="/admin_cuestionario" method="POST">
			<div class="row">
				<div class="form-group col-md-12 mb-3">
					<div class="input-group">
						<input
							type="text"
							class="form-control {% if request.method=='POST' and params['collapse_pregunta_add'] %}{% if pregunta_add.enunciado.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
							name="{{pregunta_add.enunciado.name}}"
							{% if request.method=='POST' %}
							value="{% if request.method=='POST' and params['collapse_pregunta_add'] %}{{pregunta_add.enunciado.data}}{% endif %}"
							{% endif %}
							placeholder="{{pregunta_add.enunciado.label.text}}">
						<span class="input-group-addon {% if request.method=='POST' and params['collapse_pregunta_add'] %} {% if pregunta_add.enunciado.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{pregunta_add.enunciado.label.text}}</span>
					</div>
				</div>
				<div class="form-group col-md-12 mb-3">
					<div class="input-group">
						<input
							type="text"
							class="form-control {% if request.method=='POST' and params['collapse_pregunta_add'] %}{% if pregunta_add.enunciado_ticker.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
							name="{{pregunta_add.enunciado_ticker.name}}"
							{% if request.method=='POST' %}
							value="{% if request.method=='POST' and params['collapse_pregunta_add'] %}{{pregunta_add.enunciado_ticker.data}}{% endif %}"
							{% endif %}
							placeholder="{{pregunta_add.enunciado_ticker.label.text}}">
						<span class="input-group-addon {% if request.method=='POST' and params['collapse_pregunta_add'] %} {% if pregunta_add.enunciado_ticker.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{pregunta_add.enunciado_ticker.label.text}}</span>
					</div>
				</div>
				<div class="form-group col-sm-12 col-md-8">
					<div class="input-group">
						<select name="{{pregunta_add.categoria_id.name}}" class="form-control" required="required">
							<option value="{% if request.method=='POST' and params['collapse_pregunta_add']%}{{pregunta_add.categoria_id.data}}{% endif %}">
								{% if request.method == 'POST'%}
									{{categoria_by_id(pregunta_add.categoria_id.data).enunciado}}
								{% else %}elija categoría{% endif %}
							</option>
							{% for categoria in categorias() %}
								<option value="{{categoria.id}}">{{categoria.enunciado}}</option>
							{% endfor %}
						</select>
						<span class="input-group-addon {% if request.method=='POST' and params['collapse_pregunta_add'] %} {% if pregunta_add.categoria_id.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">categoria</span>
					</div>
				</div>
				<div class="form-group col-sm-12 col-md-4">
					<div class="input-group">
						<input
							type="number"
							class="form-control {% if request.method=='POST' and params['collapse_pregunta_add'] %}{% if pregunta_add.orden.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
							name="{{pregunta_add.orden.name}}"
							value="{% if request.method=='POST' and params['collapse_pregunta_add'] %}{{pregunta_add.orden.data}}{% else %}{{preguntas_count +1}}{% endif %}"
							placeholder="{{preguntas_count +1}}">
						<span class="input-group-addon {% if request.method=='POST' and params['collapse_pregunta_add'] %} {% if pregunta_add.orden.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{pregunta_add.orden.label.text}}</span>
					</div>
				</div>
				<div class="form-group col-auto">
					<label class="custom-control custom-checkbox check_box_1">
						<input type="checkbox" class="custom-control-input" name="visible" value="True" {% if request.method=='POST' and params['collapse_pregunta_add'] and pregunta_add.visible.data %} checked="checked" {% endif %}>
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">visible</span>
					</label>
				</div>
				<div class="form-group col-auto">
					<label class="custom-control custom-checkbox check_box_1">
						<input type="checkbox" class="custom-control-input" name="active_default" value="True" {% if request.method=='POST' and params['collapse_pregunta_add'] and pregunta_add.active_default.data %} checked="checked" {% endif %}>
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">default</span>
					</label>
				</div>
			</div>
			<div class="btn-group pb-3" role="group" aria-label="...">
				<button role="button" type="submit" name="selector_button" value="selector_pregunta_add" class="btn btn-outline-primary btn-sm" title="agregar pregunta">
					<i class="material-icons vertical-center">person</i>
					agregar
				</button>
				{% if params['collapse_pregunta_add'] and request.method == 'POST' %}
					<button role="button" type="submit" name="selector_button" value="selector_pregunta_add_close" class="btn btn-outline-dark btn-sm" title="cerrar">
						<i class="material-icons vertical-center">close</i>
					</button>
				{% endif %}
			</div>
		</form>
	</div>
	<div class="divider grueso bg-primary"></div>
</div>
{% endwith %}
