{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs_admin, nav_tabs_add, admin_cuestionario_pregunta %}
	{{ nav_bar_top(link_active='Admin',params=params, current_user=current_user) }}
	<div class="paper bg-white padding_3 py-3">
		{{titulo_1(bg_color='bg-dark',titulo='Admin Settings')}}
		{{nav_tabs_admin(tab_active='Cuestionario')}}
		<ul class="nav nav-tabs my-2" role="tablist">
			<li class="nav-item">

				<a class="nav-link px-2 py-0 {% if not params['preguntas_tab']%}active{% endif %}" data-toggle="tab" href="#categorias" role="tab" title="Categorías">Categorías</a>
			</li>
			<li class="nav-item">
				<a class="nav-link px-2 py-0 {% if params['preguntas_tab'] %}active{% endif %}" data-toggle="tab" href="#preguntas" role="tab" title="Preguntas">Preguntas</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade {% if not params['preguntas_tab'] %}show active{% endif %}" id="categorias" role="tabpanel">
				<div id="parent_categoria">
					<div>
						{% include 'admin_cuestionario_categoria_add_block.html' %}
					</div>
					<div class="mt-2">
						{% include 'admin_cuestionario_categoria_block.html' %}
					</div>
				</div>
			</div>
			<div class="tab-pane fade {% if params['preguntas_tab'] %}show active{% endif %}" id="preguntas" role="tabpanel">
				<div id="parent_pregunta">
					<div>
						{% include 'admin_cuestionario_pregunta_add_block.html' %}
					</div>
					<div class="mt-2">
						{% include 'admin_cuestionario_pregunta_block.html' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
