{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs_admin %}
	{{ nav_bar_top(link_active='admin',params=params, current_user=current_user) }}
	<div class="paper bg-white padding_contenido">
		{{titulo_1(bg_color='bg-dark',titulo='Admin Settings')}}
		{{nav_tabs_admin(tab_active='Cuestiones')}}
		<div id="parent_pregunta">
			<a id="anchor_pre_add"></a>

			<div>
				{# XXX: categoria_add #}
				{% include 'admin_cuestionario_categoria_add_block.html' %}
			</div>
				<div>
					{# XXX: categorias_listado #}
					{% include 'admin_cuestionario_categoria_block.html' %}
				</div>
			<div>
				{# XXX: pregunta_add #}
				{% include 'admin_cuestionario_pregunta_add_block.html' %}
			</div>
			<div>
				{# XXX: preguntas_listado #}
				{% include 'admin_cuestionario_pregunta_block.html' %}
			</div>
		</div>
	</div>
{% endblock %}
