<span class="text-info">username:</span>
{{user.username}}
<span class="text-success strong">
	&nbsp;|&nbsp;
</span>
<span class="text-info">email:</span>
<a href="mailto:{{user.email}}">{{user.email}}</a>
<span class="text-success strong">
	&nbsp;|&nbsp;
</span>
<span class="text-info">visitas:</span>
{{settings_by_id(user.id).visit_number}}
<span class="text-success strong">
	&nbsp;|&nbsp;
</span>
<span class="text-info">utlima visita:</span>
{{settings_by_id(user.id).visit_last.strftime('%Y-%m-%d')}}
