{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs %}
	{{ nav_bar_top(link_active='Admin', params=params, current_user=current_user) }}
	<div class="paper bg-white padding_contenido">
		{{titulo_1(bg_color='bg-dark', titulo='Admin Settings')}}
		{% include "admin_usuario_data_info_block.html" %}
		{{nav_tabs(tab_active='Grupos', params_args=dic_encode_args({'current_usuario_id': usuario.id}), dic={'Grupos':'admin_usuario_data_grupos', 'Alumnos':'usuario_ficha_alumnos', 'Tutorias':'usuario_ficha_tutorias', 'Cuestionario':'usuario_ficha_cuestionario'})}}
		<!-- ********************************************* -->
		{% for grupo in usuario_grupos(usuario.id) %}
			<a id="anchor_gru_{{hashids_encode(grupo.id)}}"></a>
			<a href="#grupo_listado{{hashids_encode(grupo.id)}}" class="list-group-item-1" data-toggle="collapse" data-parent="#grupo" aria-expanded="true" aria-controls="collapse{{hashids_encode(grupo.id)}}" title="{{grupo.tutor}}">
				<span class="btn btn-sm {% if grupo_activo_check(grupo.id) %} btn-outline-primary {% else %} btn-outline-dark{% endif %}" role="button" title="{{grupo.tutor}}" }>
					<strong>
						{{grupo.curso_academico}}
						|
						{{grupo.curso_academico+1}}
					</strong>
				</span>
				<span class="hidden-sm hidden-md hidden-lg">
					&nbsp;
					{{grupo.centro | truncate(20,true,'..',0)}}
					|
					{{grupo.nombre | truncate(20,true,'..',0)}}
				</span>
				<span class="hidden-xs">
					&nbsp;
					{{grupo.centro}}
					|
					{{grupo.nombre}}
				</span>
			</a>
			<div id="grupo_listado{{hashids_encode(grupo.id)}}" class="collapse {% if equal_str(grupo.id, params['current_grupo_id']) and params['collapse_grupo_edit'] %} show {% endif %}" role="tabcard_XXX" aria-labelledby="heading{{hashids_encode(grupo.id)}}">
				<div class="divider grueso bg-primary"></div>
				<div class="card_XXX-group" id="grupo{{hashids_encode(grupo.id)}}" role="tablist" aria-multiselectable="true">
					<div class="card_XXX">
						{# XXX: listado alumnos #}
						<div class="padding_3">
							asdfasdf asdfasdfasdf
						</div>
					</div>
				</div>
				<div class="divider grueso bg-primary"></div>
			</div>
		{% endfor %}
	</div>
	<!-- ********************************************* -->
{% endblock %}
