{% extends '_layout.html' %}
{% block body %}
	{% with %}
	{% set settings_by_usuario_id = settings_by_id(usuario.id) %}
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs %}
	{{ nav_bar_top(link_active='Admin', params=params, current_user=current_user) }}
	<div class="paper bg-white padding_3 py-3">
		{{titulo_1(bg_color='bg-dark', titulo='Admin Settings')}}
		{% include "admin_usuario_data_block.html" %}
		<ul class="nav nav-tabs mb-2 mt-3" role="tablist">
			<li class="nav-item">
				<a class="nav-link px-2 active" data-toggle="tab" href="#grupos" role="tab">Grupos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link px-2" data-toggle="tab" href="#cuestionario" role="tab">Cuestionario</a>
			</li>
			<li class="nav-item">
				<a class="nav-link px-2" data-toggle="tab" href="#opciones" role="tab">Opciones</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade show active" id="grupos" role="tabpanel">
				{% include 'admin_usuario_data_grupos_block.html' %}
			</div>
			<div class="tab-pane fade" id="cuestionario" role="tabpanel">
				{% include 'admin_usuario_data_cuestionario_block.html' %}
			</div>
			<div class="tab-pane fade" id="opciones" role="tabpanel">
				{% include 'admin_usuario_data_opciones_block.html' %}
			</div>
		</div>
	</div>
	{% endwith %}
{% endblock %}
