<a data-toggle="collapse" href="#vista_general" class="collapse_header_1" aria-expanded="true" title="Analisis del cuestionario">
	<i class="material-icons vertical-center">expand_more</i>
	Vista general
</a>
<div class="collapse show" id="vista_general">
	<div class="row pt-2">
		<div class="col-md-6">
			<div class="bg-gray text-white pl-2 pt-1 pb-1">
				Usuarios
				<span class="badge float-right badge-info mr-2 mt-1" title="total de usuarios">
					{{data_usuarios_count(df_data_admin_usuarios)}}
					{{singular_plural('usuario','usuarios', data_usuarios_count(df_data_admin_usuarios)|int)}}
				</span>
			</div>
			<div class="pl-2">
				<div class="pt-2">
					email no validados
					<span class="badge badge-secondary float-right" title="{{round_custom(data_email_validated(df_data_admin_settings)[3])|int}}% de los emails no validados">
						{{data_email_validated(df_data_admin_settings)[2]}}
						|
						{{round_custom(data_email_validated(df_data_admin_settings)[3])|int}}%
					</span>
					<div class="progress">
						<div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width: {{round_custom(data_email_validated(df_data_admin_settings)[3])|int}}%;"></div>
					</div>
				</div>
				<div class="pt-2">
					lista Robinson
					<span class="badge badge-secondary float-right" title="{{round_custom(data_email_robinson(df_data_admin_settings)[1])|int}}% de usuarios en lista Robinson">
						{{data_email_robinson(df_data_admin_settings)[0]}}
						|
						{{round_custom(data_email_robinson(df_data_admin_settings)[1])|int}}%
					</span>
					<div class="progress">
						<div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width:{{round_custom(data_email_robinson(df_data_admin_settings)[1])|int}}%;"></div>
					</div>
				</div>
				<div class="pt-2">
					usuarios baneados
					<span class="badge badge-secondary float-right" title="{{round_custom(data_ban(df_data_admin_settings)[1])|int}}% usuarios baneados">
						{{data_ban(df_data_admin_settings)[0]}}
						|
						{{round_custom(data_ban(df_data_admin_settings)[1])|int}}%
					</span>
					<div class="progress">
						<div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width:{{round_custom(data_ban(df_data_admin_settings)[1])|int}}%;"></div>
					</div>
				</div>
				<div class="pt-2">
					auto-archivar tutorias desactivado
					<span class="badge badge-secondary float-right" title="{{round_custom(data_tutoria_timeout(df_data_admin_settings)[3])|int}}% timeout tutorias desactivado">
						{{data_tutoria_timeout(df_data_admin_settings)[2]}}
						|
						{{round_custom(data_tutoria_timeout(df_data_admin_settings)[3])|int}}%
					</span>
					<div class="progress">
						<div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 5px; width:{{round_custom(data_tutoria_timeout(df_data_admin_settings)[3])|int}}%;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="bg-gray text-white pl-2 pt-1 pb-1">
				Tutorias
				<span class="badge float-right badge-info mr-2 mt-1" title="total de tutorias">
					{{data_count(df_data_admin_tutorias, 'tutoria_id')}}
					{{singular_plural('tutoria','tutorias', data_count(df_data_admin_tutorias, 'tutoria_id')|int)}}
				</span>
			</div>
			<div class="pl-2">
				<div class="pt-2">
					tutorias sin respuesta
					<span
						class="badge badge-secondary float-right"
						title="{{round_custom((data_count(df_data_admin_tutorias, 'tutoria_id') - data_count(df_data_admin_informes,'informe_id'))*100/data_count(df_data_admin_tutorias, 'tutoria_id'))|int}}% de las tutorias sin respuesta">
						{{data_count(df_data_admin_tutorias, 'tutoria_id') - data_count(df_data_admin_informes,'informe_id')}}
						|
						{{round_custom((data_count(df_data_admin_tutorias, 'tutoria_id') - data_count(df_data_admin_informes,'informe_id'))*100/data_count(df_data_admin_tutorias, 'tutoria_id'))|int}}%
					</span>
					<div class="progress">
						<div
							class="progress-bar bg-secondary"
							role="progressbar"
							aria-valuemin="0"
							aria-valuemax="100"
							style="height: 5px; width: {{round_custom((data_count(df_data_admin_tutorias, 'tutoria_id') - data_count(df_data_admin_informes,'informe_id'))*100/data_count(df_data_admin_tutorias, 'tutoria_id'))|int}}%;"></div>
					</div>
				</div>
				<div class="pt-2">
					{{round_custom(data_tutorias_media(df_data_admin_tutorias, 'grupo_id'))}}
					tutorias por grupo
				</div>
				<div class="pt-2">
					{{round_custom(data_tutorias_media(df_data_admin_tutorias, 'alumno_id'))}}
					tutorias por alumno
				</div>
				<div class="pt-2">
					{{round_custom(data_cuestionario_media(df_data_admin_cuestionario,'pregunta_id'))}}
					preguntas por tutoria
				</div>
			</div>
			<br>
		</div>
	</div>
</div>
<a data-toggle="collapse" href="#top_10" class="collapse_header_1" aria-expanded="true" title="Analisis del cuestionario">
	<i class="material-icons vertical-center">expand_more</i>
	TOP-10 usuarios activos
</a>
<div class="collapse show" id="top_10">
	<div class="pt-2">
		<table class="table table-sm table-striped table-xx">
			<thead class="bg-gray text-white font-weight-normal">
				<tr >
					<th class="font-weight-normal">#</th>
					<th class="font-weight-normal">usuario</th>
					<th class="font-weight-normal">visitas</th>
					<th class="font-weight-normal">ultima visita</th>
				</tr>
			</thead>
			<tbody>
				{% for key, value in data_usuarios_top_10(df_data_admin_settings).iterrows() %}
					<tr>
						<th scope="row">{{loop.index}}</th>
						<td>{{value['username']}}</td>
						<td>{{value['visit_number']}}</td>
						<td>{{value['visit_last'].strftime('%d-%B-%Y')}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
