{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs_admin%}
	{{ nav_bar_top(link_active='Admin',params=params, current_user=current_user) }}
	<div class="paper bg-white padding_contenido">
		{{titulo_1(bg_color='bg-dark',titulo='Admin Settings')}}
		{{nav_tabs_admin(tab_active='Estadisticas')}}

			<div>
				{% include 'admin_estadisticas_usuarios_block.html' %}
			</div>
		
			<div>
				Numero medio de tutorias por grupo / numero medio de tutorias por alumno
			</div>
			<div>
				Preguntas mas frecuentes / numero medio de preguntas por usuario
			</div>

	</div>
{% endblock %}
