{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs %}
	{{ nav_bar_top(link_active='admin', params=params, current_user=current_user) }}
	<div class="paper bg-white padding_contenido">
		{{titulo_1(bg_color='bg-dark', titulo='Admin Settings')}}
		{% include "admin_usuario_data_block.html" %}

		<ul class="nav nav-tabs my-2" role="tablist">
			<li class="nav-item">
				<a class="nav-link px-1" data-toggle="tab" href="#grupos" role="tab">Grupos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link px-1" data-toggle="tab" href="#cuestionario" role="tab">Cuestionario</a>
			</li>
			<li class="nav-item">
				<a class="nav-link px-1" data-toggle="tab" href="#opciones" role="tab">Opciones</a>
			</li>
		</ul>
	</div>
{% endblock %}
