<a data-toggle="collapse" data-parent="#parent_usuario" href="#usuario_{{hashids_encode(usuario.id)}}" class="collapse_header border_bottom" aria-expanded="false" title="{{usuario.email}}">
	<strong>Datos de ususario</strong>
	{# NOTE badge #}
	<span class="badge badge-info float-right border border-dark" title="Total de visitas">{{settings_by_usuario_id.visit_number}}
		visitas
	</span>
	{% if not settings_by_usuario_id.email_validated %}
		<span class="badge border border-dark bg-white text-dark float-right mr-2" title="No validado">
			No validado
		</span>
	{% endif %}
	{% if settings_by_usuario_id.email_robinson %}
		<span class="badge border border-warning bg-white text-warning float-right mr-2" title="Robinson">
			Robinson
		</span>
	{% endif %}
	{% if settings_by_usuario_id.ban %}
		<span class="badge badge-warning text-white float-right mr-2" title="Banned">
			Banned
		</span>
	{% endif %}
</a>
<div id="usuario_{{hashids_encode(usuario.id)}}" class="collapse show">
	<div class="padding_3 pt-3 pb-3">
		<form action="/admin_usuario_ficha" method="POST">
			<div class="row">
				<div class="form-group col-md-12">
					<div class="input-group">
						<input
							type="text"
							{% if not params['usuario_edit_link'] %}
							readonly
							{% endif %}
							class="form-control {% if request.method=='POST'%} {% if usuario_edit.username.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
							name="{{usuario_edit.username.name}}"
							value="{% if request.method=='POST' %}{{usuario_edit.username.data}}{% else %}{{usuario.username}}{% endif %}"
							placeholder="{{usuario_edit.username.label.text}}">
						<span class="input-group-addon {% if request.method=='POST'%} {% if usuario_edit.username.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{usuario_edit.username.label.text}}</span>
					</div>
				</div>
				<div class="form-group col-md-12">
					<div class="input-group">
						<input
							type="text"
							{% if not params['usuario_edit_link'] %}
							readonly
							{% endif %}
							class="form-control {% if request.method=='POST'%} {% if usuario_edit.password.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
							name="{{usuario_edit.password.name}}"
							value="{% if request.method=='POST' %}{{usuario_edit.password.data}}{% endif %}"
							placeholder="nuevo password">
						<span class="input-group-addon {% if request.method=='POST'%} {% if usuario_edit.password.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">cambiar password</span>
					</div>
				</div>
				<div class="form-group col-md-12">
					<div class="input-group">
						<input
							type="text"
							{% if not params['usuario_edit_link'] %}
							readonly
							{% endif %}
							class="form-control {% if request.method=='POST'%} {% if usuario_edit.email.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
							name="{{usuario_edit.email.name}}"
							value="{% if request.method=='POST'%}{{usuario_edit.email.data}}{% else %}{{usuario.email}}{% endif %}"
							placeholder="{{usuario_edit.email.label.text}}">
						<span class="input-group-addon {% if request.method=='POST'%} {% if usuario_edit.email.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{usuario_edit.email.label.text}}</span>
					</div>
				</div>
				<div class="form-group col-sm-6 col-md-3">
					<div class="input-group">
						<select name="{{usuario_edit.role.name}}" class="form-control" required {% if not params['usuario_edit_link'] %} disabled {% endif %}>
							<option value="{% if request.method=='POST'%}{{usuario_edit.role.data}}{% else %}{{settings_by_usuario_id.role}}{% endif %}">
								{% if request.method == 'POST'%}{{usuario_edit.role.data}}
								{% else %}{{settings_by_usuario_id.role}}{% endif %}
							</option>
							<option value="user">user</option>
							<option value="admin">admin</option>
						</select>
						<span class="input-group-addon">role</span>
					</div>
				</div>
				<div class="form-group col-auto">
					<label class="custom-control custom-checkbox check_box_1">
						<input type="checkbox" {% if not params['usuario_edit_link'] %} disabled {% endif %} class="custom-control-input" name="email_validated" value="True" {% if settings_by_usuario_id.email_validated%} checked {% endif %}>
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">{{usuario_edit.email_validated.label.text}}</span>
					</label>
				</div>
				<div class="form-group col-auto">
					<label class="custom-control custom-checkbox check_box_1">
						<input type="checkbox" {% if not params['usuario_edit_link'] %} disabled {% endif %} class="custom-control-input" name="email_robinson" value="True" {% if settings_by_usuario_id.email_robinson%} checked {% endif %}>
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">{{usuario_edit.email_robinson.label.text}}</span>
					</label>
				</div>
				<div class="form-group col-auto">
					<label class="custom-control custom-checkbox check_box_1">
						<input type="checkbox" {% if not params['usuario_edit_link'] %} disabled {% endif %} class="custom-control-input" name="ban" value="True" {% if settings_by_usuario_id.ban%} checked {% endif %}>
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">{{usuario_edit.ban.label.text}}</span>
					</label>
				</div>
				<input type="hidden" name="current_usuario_id" value="{{hashids_encode(usuario.id)}}">
			</div>
			{% if params['usuario_edit_link'] %}
					<div class="btn-group" role="group">
						<button role="button" type="submit" name="selector_button" value="selector_usuario_edit" class="btn btn-outline-dark btn-sm" title="Guardar cambios">
							<i class="material-icons vertical-center">save</i>
							Guardar
						</button>

						<a data-toggle="collapse" href="#admin_usuario_data_delete_confirmar" class="btn btn-outline-dark btn-sm link_without_pointer" aria-expanded="false" title="Eliminar tutoria">
							<i class="material-icons vertical-center">delete</i>
						</a>
						{% include 'admin_usuario_data_delete_confirmar_block.html' %}

						<a href="/admin_usuario_ficha/{{dic_encode_args({'current_usuario_id': usuario.id})}}" role="button"  class="btn btn-outline-dark btn-sm" title="Cerrar edición">
							<i class="material-icons vertical-center">close</i>
						</a>
					</div>
			{% else %}
				<div class="btn-group" role="group">
					<button role="button" type="submit" name="selector_button" class="btn btn-outline-dark btn-sm" value="selector_usuario_edit_link" title="Editar usuario">
						<i class="material-icons vertical-center">edit</i>
						Editar usuario
					</button>
				</div>
			{% endif %}
				<div class="float-right">
					<span class="small text-mutted">Emails enviados:</span>
					{{settings_by_usuario_id.emails_enviados}}
					|
					<span class="small text-mutted">Ultima visita:</span>
					{{settings_by_usuario_id.visit_last.strftime('%d-%m-%Y')}}
				</div>
		</form>
	</div>
	<br>
	<div class="divider grueso bg-primary"></div>
</div>
