<div class="d-flex flex-row-reverse">
	{{nav_tabs_add(data_parent='parent_cita',href='cita_add',icon='playlist_add', title='cita', count=citas|count|string)}}
</div>
<div class="collapse {% if params['collapse_cita_add'] %} show {% endif %}" id="cita_add">
	<div class="border border-gray rounded-bottom z-depth-1-1-less">
		<div class="card-body p-2">
			<form action="{{ url_for('admin_citas_html') }}" method="POST">
				<div class="row">
					<div class="fo{{ url_for('login_html') }}m-group col-md-12 mb-3">
						<div class="input-group">
							<input
								type="text"
								class="form-control {% if request.method=='POST' and params['collapse_cita_add'] %}{% if cita_add.frase.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
								name="{{cita_add.frase.name}}"
								value="{% if request.method=='POST' and params['collapse_cita_add'] %}{{cita_add.frase.data}}{% endif %}"
								placeholder="{{cita_add.frase.label.text}}">
							<span class="input-group-addon {% if request.method=='POST' and params['collapse_cita_add'] %} {% if cita_add.frase.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{cita_add.frase.label.text}}</span>
						</div>
					</div>
					<div class="form-group col-md-12 mb-3">
						<div class="input-group">
							<input
								type="text"
								class="form-control {% if request.method=='POST' and params['collapse_cita_add'] %}{% if cita_add.autor.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
								name="{{cita_add.autor.name}}"
								{% if request.method=='POST' %}
								value="{% if request.method=='POST' and params['collapse_cita_add'] %}{{cita_add.autor.data}}{% endif %}"
								{% endif %}
								placeholder="{{cita_add.autor.label.text}}">
							<span class="input-group-addon {% if request.method=='POST' and params['collapse_cita_add'] %} {% if cita_add.autor.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{cita_add.autor.label.text}}</span>
						</div>
					</div>
				</div>
				<div class="btn-group" role="group">
					<button role="button" type="submit" name="selector_button" value="selector_cita_add" class="btn btn-outline-dark btn-sm" title="Guardar cita">
						<i class="material-icons vertical-center">person</i>
						Guardar
					</button>
					{% if params['collapse_cita_add'] and request.method == 'POST' %}
						<button role="button" type="submit" name="selector_button" value="selector_cita_add_close" class="btn btn-outline-dark btn-sm" title="Cerrar">
							<i class="material-icons vertical-center">close</i>
						</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
</div>
