{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs_admin%}
	{{ nav_bar_top(link_active='Admin',params=params, current_user=current_user) }}
	<div class="paper bg-white padding_contenido">
		{{titulo_1(bg_color='bg-dark',titulo='Admin Settings')}}
		{{nav_tabs_admin(tab_active='Usuarios')}}
		<div id="parent_usuario">
			<div>
				{# XXX: usuarios_listado #}
				{% for usuario in usuarios('visit_number', 'visit_last', 'created_at') %}
					{% with %}
					{% set settings_by_usuario_id = settings_by_id(usuario.id) %}
					<a id="anchor_usu_{{hashids_encode(usuario.id)}}"></a>
					<a href="/admin_usuario_ficha/{{dic_encode_args({'current_usuario_id': usuario.id})}}" class="collapse_header_1" title="{{usuario.username}}">
						<div class="media">
							<span class="capital {% if not settings_by_usuario_id.ban %}capital-mutted{% else %}capital-warning active{% endif %}">{{loop.index}}</span>
							<div class="media-body">
								<div class="padding_2">
									{{user_by_id(usuario.id).username}}
									{# NOTE badge #}
									<span class="badge badge-info float-right border border-dark" title="total de visitas">{{usuario.visit_number}}
										visitas
									</span>
									{% if not settings_by_usuario_id.email_validated %}
										<span class="badge border border-dark bg-white text-dark float-right mr-2" title="no validado">
											no validado
										</span>
									{% endif %}
									{% if usuario.email_robinson %}
										<span class="badge  border border-warning bg-white text-warning float-right mr-2" title="robinson">
											robinson
										</span>
									{% endif %}
									{% if usuario.ban %}
										<span class="badge badge-warning text-white float-right mr-2" title="banned">
											banned
										</span>
									{% endif %}
								</div>
							</div>
						</div>
					</a>
					{% endwith %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
