{% for cita in citas %}
	<a id="anchor_cit_{{hashids_encode(cita.id)}}"></a>
	<a data-toggle="collapse" data-parent="#parent_cita" href="#cita_{{hashids_encode(cita.id)}}" class="collapse_header_1" aria-expanded="false" title="{{cita.autor}}">
		<div class="media">
			<span class="capital capital-mutted">{{loop.index}}</span>
			<div class="media-body">
				<div class="padding_2">
					<span>
						"{{cita.frase}}" .
					</span>
					<span class="text-gray">
						-
						{{cita.autor}}
					</span>
				</div>
			</div>
		</div>
	</a>
	<div id="cita_{{hashids_encode(cita.id)}}" class="collapse {% if equal_str(cita.id, params['current_cita_id']) and params['collapse_cita_edit'] %} show {% endif %}">
		<div class="divider grueso bg-primary"></div>
		{# XXX: cita_edit #}
		<div class="padding_3 pt-3 pb-3">
			<form action="/admin_citas" method="POST">
				<div class="row">
					<div class="form-group col-md-12">
						<div class="input-group">
							<input
								type="text"
								{% if not equal_str(cita.id, params['current_cita_id']) or not params['cita_edit_link'] %}
								readonly="readonly"
								{% endif %}
								class="form-control {% if request.method=='POST' and params['collpase_cita_edit'] %} {% if cita_edit.frase.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
								name="{{cita_edit.frase.name}}"
								value="{% if equal_str(cita.id,params['current_cita_id']) and request.method=='POST' and params['collpase_cita_edit'] %}{{cita_edit.frase.data}}{% else %}{{cita.frase}}{% endif %}"
								placeholder="{{cita_edit.frase.label.text}}">
							<span class="input-group-addon {% if request.method=='POST' and params['collpase_cita_edit'] %} {% if cita_edit.frase.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{cita_edit.frase.label.text}}</span>
						</div>
					</div>
					<div class="form-group col-md-12">
						<div class="input-group">
							<input
								type="text"
								{% if not equal_str(cita.id, params['current_cita_id']) or not params['cita_edit_link'] %}
								readonly="readonly"
								{% endif %}
								class="form-control {% if request.method=='POST' and params['collpase_cita_edit'] %} {% if cita_edit.autor.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
								name="{{cita_edit.autor.name}}"
								value="{% if equal_str(cita.id,params['current_cita_id']) and request.method=='POST' and params['collpase_cita_edit'] %}{{cita_edit.autor.data}}{% else %}{{cita.autor}}{% endif %}"
								placeholder="{{cita_edit.autor.label.text}}">
							<span class="input-group-addon {% if request.method=='POST' and params['collpase_cita_edit'] %} {% if cita_edit.autor.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{cita_edit.autor.label.text}}</span>
						</div>
					</div>
					<input type="hidden" name="current_cita_id" value="{{hashids_encode(cita.id)}}">
				</div>
				{% if equal_str(cita.id, params['current_cita_id'])and params['cita_edit_link'] %}
					{% if params['cita_delete_link'] %}
						<div class="btn-group" role="group" aria-label="...">
							<button role="button" type="submit" name="selector_button" value="selector_cita_delete" class="btn btn-outline-warning btn-sm" title="confirmar eliminar cita">
								<i class="material-icons vertical-center">delete</i>
								confirmar eliminar
							</button>
							<button role="button" type="submit" name="selector_button" value="selector_cita_delete_close" class="btn btn-outline-dark btn-sm" title="cancelar eliminar">
								<i class="material-icons vertical-center">close</i>
							</button>
						</div>
						<br>
						<span class="text-warning small">
							Una vez elminada no podra ser recuperada.</span>
					{% else %}
						<div class="btn-group" role="group" aria-label="...">
							<button role="button" type="submit" name="selector_button" value="selector_cita_edit" class="btn btn-outline-primary btn-sm" title="guardar cambios">
								<i class="material-icons vertical-center">save</i>
								guardar
							</button>
							<button role="button" type="submit" name="selector_button" value="selector_cita_delete_link" class="btn btn-outline-dark btn-sm" title="eliminar cita">
								<i class="material-icons vertical-center">delete</i>
							</button>
							<button role="button" type="submit" name="selector_button" value="selector_cita_edit_link_close" class="btn btn-outline-dark btn-sm" title="cerrar edición">
								<i class="material-icons vertical-center">close</i>
							</button>
						</div>
					{% endif %}
				{% else %}
					<div class="btn-group" role="group" aria-label="...">
						<button role="button" type="submit" name="selector_button" class="btn btn-outline-dark btn-sm" value="selector_cita_edit_link" title="Editar cita">
							<i class="material-icons vertical-center">edit</i>
							Editar cita
						</button>
						{% if equal_str(cita.id,params['current_cita_id']) and params['collapse_cita_edit']%}
							<button role="button" type="submit" name="selector_button" class="btn btn-outline-dark btn-sm" value="selector_cita_edit_close" title="cerrar ficha">
								<i class="material-icons vertical-center">close</i>
							</button>
						{% endif %}
					</div>
				{% endif %}
			</form>
		</div>
		<div class="divider grueso bg-primary"></div>
	</div>
{% endfor %}
