{% with %}
{% set categorias = categorias() %}
{% set categorias_count = categorias | count %}
<a id="anchor_cat_add"></a>
<div class="d-flex flex-row-reverse">
	{{nav_tabs_add(data_parent='parent_categoria',href='categoria_add',icon='view_list', title='categoría', count=categorias_count)}}
</div>
<div class="collapse {% if params['collapse_categoria_add'] %} show {% endif %}" id="categoria_add">
	<div class="border border-gray rounded-bottom z-depth-1-1-less">
		<div class="card-body p-2">
			<form action="/admin_cuestionario" method="POST">
				<div class="row">
					<div class="form-group col-md-12 mb-3">
						<div class="input-group">
							<input
								type="text"
								class="form-control {% if request.method=='POST' and params['collapse_categoria_add'] %}{% if categoria_add.enunciado.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
								name="{{categoria_add.enunciado.name}}"
								{% if request.method=='POST' %}
								value="{% if request.method=='POST' and params['collapse_categoria_add'] %}{{categoria_add.enunciado.data}}{% endif %}"
								{% endif %}
								placeholder="{{categoria_add.enunciado.label.text}}">
							<span class="input-group-addon {% if request.method=='POST' and params['collapse_categoria_add'] %} {% if categoria_add.enunciado.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{categoria_add.enunciado.label.text}}</span>
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-4">
						<div class="input-group">
							<input
								type="text"
								class="form-control {% if request.method=='POST' and params['collapse_categoria_add'] %}{% if categoria_add.color.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
								name="{{categoria_add.color.name}}"
								value="{% if request.method=='POST' and params['collapse_categoria_add'] %}{{categoria_add.color.data}}{% else %}#343a40{% endif %}"
								placeholder="#343a40">
							<span class="input-group-addon {% if request.method=='POST' and params['collapse_categoria_add'] %} {% if categoria_add.color.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{categoria_add.color.label.text}}</span>
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-4">
						<div class="input-group">
							<input
								type="number"
								class="form-control {% if request.method=='POST' and params['collapse_categoria_add'] %}{% if categoria_add.orden.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
								name="{{categoria_add.orden.name}}"
								value="{% if request.method=='POST' and params['collapse_categoria_add'] %}{{categoria_add.orden.data}}{% else %}{{categorias_count +1}}{% endif %}"
								placeholder="{{categorias_count +1}}">
							<span class="input-group-addon {% if request.method=='POST' and params['collapse_categoria_add'] %} {% if categoria_add.orden.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{categoria_add.orden.label.text}}</span>
						</div>
					</div>
				</div>
				<div class="btn-group" role="group">
					<button role="button" type="submit" name="selector_button" value="selector_categoria_add" class="btn btn-outline-dark btn-sm" title="Guardar categoria">
						<i class="material-icons vertical-center">save</i>
						Guardar
					</button>
					{% if params['collapse_categoria_add'] and request.method == 'POST' %}
						<button role="button" type="submit" name="selector_button" value="selector_categoria_add_close" class="btn btn-outline-dark btn-sm" title="Cerrar">
							<i class="material-icons vertical-center">close</i>
						</button>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
</div>
{% endwith %}
