<a data-toggle="collapse" href="#alumno_asignatura_{{hashids_encode(alumno.id)}}" class="collapse_header_1" aria-expanded="false">
	<i class="material-icons vertical-center">expand_more</i>Asignaturas de
	{{alumno.nombre}}:
	<span class="badge badge-info float-right">{{alumno_asignaturas(alumno.id) | count}}
		|
		{{asignaturas_not_sorted() | count}}
	</span>
</a>
<div id="alumno_asignatura_{{hashids_encode(alumno.id)}}" class="collapse show">
	<div class="padding_3">
		<br>
		{% if not asignaturas('asignatura', 'nombre', 'apellidos') %}
			<span class="text-warning">Grupo sin asignaturas</span>
		{% else %}
			<div class="row">
				{% if equal_str(alumno.id, params['current_alumno_id'])and params['alumno_edit_link'] %}
					{% for asignatura in asignaturas('asignatura', 'nombre', 'apellidos') %}
						{% include 'alumno_ficha_asiganturas_listado_block.html' %}
					{% endfor %}
				{% else %}
					{% if alumno_asignaturas(alumno.id) %}
						{% for asignatura in alumno_asignaturas(alumno.id) %}
							{% if association_alumno_asignatura_check(alumno.id, asignatura.id) %}
								{% include 'alumno_ficha_asiganturas_listado_block.html' %}
							{% endif %}
						{% endfor %}
					{% else %}
						<span class="text-warning">Alumno sin asignaturas asignadas</span>
					{% endif %}
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>
<br>
