{% with %}
{% set grupo_tutorias_incoming = grupo_tutorias(grupo_activo().id, True) %}
{% set grupo_tutorias_incoming_count = grupo_tutorias_incoming | count %}
<a data-toggle="collapse" class="collpase-header-secondary" role="tab" data-parent="#parent_tutorias" href="#collapse_proxima_tutoria" aria-expanded="false">
	{% if grupo_tutorias_incoming %}
	<i class="material-icons vertical-center">notifications</i>
			{{singular_plural("tutoria", "tutorias", grupo_tutorias_incoming_count)}}
			{{singular_plural("pendiente", "pendientes", grupo_tutorias_incoming_count)}}
		{% else %}
		<i class="material-icons vertical-center">wb_sunny</i>
		&nbsp;Relax, no tienes tutorias
	{% endif %}
	<span class="badge badge-light text-secondary float-right mt-1" title="tutorias pendientes">
		{{grupo_tutorias_incoming_count}} {{singular_plural("tutoria", "tutorias", grupo_tutorias_incoming_count)}}
	</span>
</a>
<div id="collapse_proxima_tutoria" class="collapse {% if grupo_tutorias_incoming %} show {% endif %}">
	{% if grupo_tutorias_incoming %}
		<div class="m-0 p-0">
			<div class="padding_contenido pt-2">
				{% for tutoria in grupo_tutorias_incoming %}
					{% with %}
					{% set tutoria_incoming = tutoria_incoming(tutoria.id) %}
					<a href="/analisis/{{dic_encode_args({'current_tutoria_id': tutoria.id})}}" class="collapse_header_2" title="ver informe">
						&nbsp;
						{{translate_fecha(tutoria.fecha.strftime('%A') | capitalize)}}
						{{tutoria.fecha.strftime('%d')}}
						[{{tutoria.hora.strftime('%H:%M')}}]

						<span class="text-gray small">
						{{alumno_by_id(tutoria.alumno_id).nombre}}
						</span>
						<span class="badge badge-secondary float-right mt-1" title="{{tutoria_incoming['porcentaje']}}% de los informes recibidos">
							{{tutoria_incoming['porcentaje']}}%
						</span>
					</a>
					<div class="progress">
						<div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height:2px; width: {{tutoria_incoming['porcentaje']}}%;"></div>
					</div>
					{% endwith %}
				{% endfor %}
			</div>
		</div>
	{% else %}
		<div class="padding_contenido text-mutted">
			{% if cita_random() %}
				"{{cita_random().frase}}"
				<span class="text-info">
					-
					{{cita_random().autor}}
				</span>
			{% endif %}
		</div>
	{% endif %}
</div>
{% endwith %}
