{% if params['alumno_delete_link'] %}
	<div class="btn-group" role="group" aria-label="...">
		<button role="button" type="submit" name="selector_button" value="selector_alumno_delete" class="btn btn-warning" title="confirmar eliminar alumno">
			<i class="material-icons vertical-center">delete</i>
			confirmar eliminar</button>
		<button role="button" type="submit" name="selector_button" value="selector_alumno_delete_close" class="btn btn-outline-dark" title="cancelar eliminar">
			<i class="material-icons vertical-center">close</i>
		</button>
	</div>
	<div class="clearfix"></div>
	<br>
	<span class="text-warning">
		Una vez elminado no podra ser recuperado.</span>
{% else %}
	<div class="btn-group" role="group" aria-label="...">
		<button role="button" type="submit" name="selector_button" value="selector_alumno_edit" class="btn btn-outline-primary" title="guardar cambios">
			<i class="material-icons vertical-center">save</i>
			guardar</button>
		<button role="button" type="submit" name="selector_button" value="selector_alumno_edit_rollback" class="btn btn-outline-dark" title="deshacer cambios">
			<i class="material-icons vertical-center">settings_backup_restore</i>
		</button>
		<button role="button" type="submit" name="selector_button" value="selector_alumno_delete_link" class="btn btn-outline-dark" title="eliminar alumno">
			<i class="material-icons vertical-center">delete</i>
		</button>
		<button role="button" type="submit" name="selector_button" value="selector_alumno_edit_link_close" class="btn btn-outline-dark" title="cerrar edición">
			<i class="material-icons vertical-center">close</i>
		</button>
	</div>
{% endif %}
