{# <div class="dropdown-divider grueso bg-primary"></div> #}
<div class="contenido-2">
	<form action="/alumnos" method="POST" enctype="multipart/form-data">
		{% if params['alumno_importar_link'] %}
			<div class="form-group in-line">
				Localiza y selecciona el archivo *.CSV descargado desde Seneca.
				<br><br>
				<label class="btn btn-outline-dark btn-sm" title="seleccionar archivo" for="selector_fichero">
					<input id="selector_fichero" type="file" name="fichero" style="display:none" onchange="$(" #upload_file_info").html(this.files[0].name)">
					Seleccionar archivo CSV
				</label>
				<span class="label label-success" id="upload_file_info"></span>
				<br>
			</div>
		{% else %}
			{% with %}
			{% if params['collapse_alumno_add']and request.method == "POST" %}
				{% set error_css = True %}
			{% else %}
				{% set error_css = False %}
			{% endif %}
			{{field_form(alumno_add.nombre, error=True, error_css=error_css, addon="nombre")}}
			{{field_form(alumno_add.apellidos, error=True, error_css=error_css, addon="apellidos")}}
			{% endwith %}
		{% endif %}
		<div class="btn-group" role="group" aria-label="...">
			{% if params['alumno_importar_link'] %}
				<button class="btn btn-outline-primary btn-sm" type="submit" name="selector_button" value="selector_alumno_importar" title="guardar alumnos">
					<i class="material-icons vertical-center">people</i>
					guardar alumnos
				</button>
				<button class="btn btn-outline-dark btn-sm" type="submit" name="selector_button" value="selector_alumno_importar_cerrar" title="cerrar">
					<i class="material-icons vertical-center">close</i>
				</button>
				<br>
			{% else %}
				<button class="btn btn-outline-primary btn-sm" type="submit" name="selector_button" value="selector_alumno_add" title="agregar alumno">
					<i class="material-icons vertical-center">person</i>
					agregar
				</button>
				<button class="btn btn-outline-dark btn-sm" type="submit" name="selector_button" value="selector_alumno_importar_link" title="importar seneca">
					<i class="material-icons vertical-center">people</i>
					importar de Seneca
				</button>
			{% endif %}
		</div>
	</form>
	<br>
</div>
<div class="dropdown-divider grueso bg-primary"></div>
