<br>
<div class="padding_3">
	<form action="/alumnos" method="POST">
		<!-- ******************************* -->
		<div class="row">
			<div class="form-group col-md-6 mb-3">
				<div class="input-group">
					<input
						type="text"
						{% if not equal_str(alumno.id, params['current_alumno_id']) or not params['alumno_edit_link'] %}
						readonly
						{% endif %}
						class="form-control {% if request.method=='POST' and params['collpase_alumno_edit'] %} {% if alumno_edit.nombre.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
						name="{{alumno_edit.nombre.name}}"
						value="{% if equal_str(alumno.id,params['current_alumno_id']) and request.method=='POST' and params['collpase_alumno_edit'] %}{{alumno_edit.nombre.data}}{% else %}{{alumno.nombre}}{% endif %}"
						placeholder="{{alumno_edit.nombre.label.text}}">
					<span class="input-group-addon {% if request.method=='POST' and params['collpase_alumno_edit'] %} {% if alumno_edit.nombre.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">nombre</span>
				</div>
			</div>
			<div class="form-group col-md-6 mb-3">
				<div class="input-group">
					<input
						type="text"
						type="text"
						{% if not equal_str(alumno.id, params['current_alumno_id']) or not params['alumno_edit_link'] %}
						readonly
						{% endif %}
						class="form-control {% if request.method=='POST' and params['collpase_alumno_edit'] %} {% if alumno_edit.apellidos.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
						name="{{alumno_edit.apellidos.name}}"
						value="{% if equal_str(alumno.id,params['current_alumno_id']) and request.method=='POST' and params['collpase_alumno_edit'] %}{{alumno_edit.apellidos.data}}{% else %}{{alumno.apellidos}}{% endif %}"
						placeholder="{{alumno_edit.apellidos.label.text}}">
					<span class="input-group-addon {% if request.method=='POST' and params['collpase_alumno_edit'] %} {% if alumno_edit.apellidos.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">apellidos</span>
				</div>
			</div>
		</div>
		<input type="hidden" name="current_alumno_id" value="{{hashids_encode(alumno.id)}}">
		{% include 'alumnos_ficha_asignaturas_block.html' %}
		<!-- ********************* -->
		{% if equal_str(alumno.id, params['current_alumno_id'])and params['alumno_edit_link'] %}
			{% if params['alumno_delete_link'] %}
				<div class="btn-group" role="group" aria-label="...">
					<button role="button" type="submit" name="selector_button" value="selector_alumno_delete" class="btn btn-outline-warning btn-sm" title="confirmar eliminar alumno">
						<i class="material-icons vertical-center">delete</i>
						confirmar eliminar</button>
					<button role="button" type="submit" name="selector_button" value="selector_alumno_delete_close" class="btn btn-outline-dark btn-sm" title="cancelar eliminar">
						<i class="material-icons vertical-center">close</i>
					</button>
				</div>
				<br>
				<span class="text-warning small">
					Una vez elminado no podra ser recuperado.</span>
			{% else %}
				<div class="btn-group" role="group" aria-label="...">
					<button role="button" type="submit" name="selector_button" value="selector_alumno_edit" class="btn btn-outline-primary btn-sm" title="guardar cambios">
						<i class="material-icons vertical-center">save</i>
						guardar</button>
					{# <button role="button" type="submit" name="selector_button" value="selector_alumno_edit_rollback" class="btn btn-outline-dark btn-sm" title="deshacer cambios"> <i class="material-icons vertical-center">settings_backup_restore</i> </button> #}
					<button role="button" type="submit" name="selector_button" value="selector_alumno_delete_link" class="btn btn-outline-dark btn-sm" title="eliminar alumno">
						<i class="material-icons vertical-center">delete</i>
					</button>
					<button role="button" type="submit" name="selector_button" value="selector_alumno_edit_link_close" class="btn btn-outline-dark btn-sm" title="cerrar edición">
						<i class="material-icons vertical-center">close</i>
					</button>
				</div>
			{% endif %}
			<!-- ********************************* -->
		{% else %}
			<div class="btn-group" role="group" aria-label="...">
				<button role="button" type="submit" name="selector_button" class="btn btn-outline-dark btn-sm" value="selector_alumno_edit_link" title="editar ficha">
					<i class="material-icons vertical-center">edit</i>
					editar ficha
				</button>
				{% if equal_str(alumno.id,params['current_alumno_id']) and params['collapse_alumno_edit']%}
					<button role="button" type="submit" name="selector_button" class="btn btn-outline-dark btn-sm" value="selector_alumno_edit_close" title="cerrar ficha">
						<i class="material-icons vertical-center">close</i>
					</button>
				{% endif %}
			</div>
		{% endif %}
	</form>
</div>
<br>
