{% with %}
{% set tutorias_by_alumno_id_true = tutorias_by_alumno_id(alumno.id, deleted = False, activa = True) | count %}
{% set tutorias_by_alumno_id_all = tutorias_by_alumno_id(alumno.id, deleted = False) | count %}
{% set hashids_encode_alumno_id = hashids_encode(alumno.id) %}
<a id="anchor_alu_{{hashids_encode_alumno_id}}"></a>
<a data-toggle="collapse" data-parent="#parent_alumno" href="#alumno_{{hashids_encode_alumno_id}}" class="collapse_header_1" aria-expanded="false" title="{{alumno.apellidos}}, {{alumno.nombre}}">
	<div class="media">
		<span
			class="capital {% if not asignaturas_alumno_by_alumno_id(alumno.id) %} capital-warning {% elif tutorias_by_alumno_id_all %}
		{% if tutorias_by_alumno_id_true %} capital-primary {% else %} capital-gray{% endif %}
			 {% else %} capital-info {% endif %}">{{alumno.apellidos | first | upper}}</span>
		<div class="media-body">
			<div class="padding_2">
				{{alumno.apellidos}},
				<span class="text-truncate">
					{{alumno.nombre}}
				</span>
				{% if tutorias_by_alumno_id_true %}
					<span class="badge badge-primary float-right mt-1" title="{{tutorias_by_alumno_id_true}} {{singular_plural('tutoria','tutorias', tutorias_by_alumno_id_true)}} {{singular_plural('solicitada','solicitadas', tutorias_by_alumno_id_true)}}">
						{{tutorias_by_alumno_id_true}}
						{{singular_plural('tutoria','tutorias', tutorias_by_alumno_id_true)}}
					</span>
				{% endif %}
			</div>
		</div>
	</div>
</a>
<div id="alumno_{{hashids_encode_alumno_id}}" class="collapse {% if equal_str(alumno.id, params['current_alumno_id']) and params['collapse_alumno'] %} show {% endif %}">
	<ul class="nav nav-tabs border border-0 pb-0 mt-3" role="tablist">
		<li class="nav-item">
			<a
				class="nav-link {% if not equal_str(alumno.id, params['current_alumno_id']) or not params['collapse_alumno_edit'] %} active {% endif %}"
				data-toggle="tab"
				href="#alumno_tutorias_{{hashids_encode_alumno_id}}"
				role="tab"
				title="Tutorías de {{alumno.nombre}}">Tutorías</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {% if equal_str(alumno.id, params['current_alumno_id']) and params['collapse_alumno_edit'] %} active {% endif %}" data-toggle="tab" href="#alumno_ficha_{{hashids_encode_alumno_id}}" role="tab" title="Ficha de {{alumno.nombre}}">Ficha</a>
		</li>
	</ul>
	<div class="tab-content card border-gray z-depth-1-1-less mb-3">
		<div class="tab-pane fade {% if not equal_str(alumno.id, params['current_alumno_id']) or not params['collapse_alumno_edit'] %} active show {% endif %}" id="alumno_tutorias_{{hashids_encode_alumno_id}}" role="tabpanel">
			{% include 'alumnos_tutorias_block.html' %}
		</div>
		<div class="tab-pane fade {% if equal_str(alumno.id, params['current_alumno_id']) and params['collapse_alumno_edit'] %} active show {% endif %}" id="alumno_ficha_{{hashids_encode_alumno_id}}" role="tabpanel">
			{% include 'alumnos_ficha_block.html' %}
		</div>
	</div>
</div>
{% endwith %}
