{% extends "_layout.html" %}
{% block body %}
	{% from "_macro.html" import nav_bar_top,
	titulo_1,
	highcharts_tutoria_stats %}
	{{ nav_bar_top(link_active='Alumnos',params=params, current_user=current_user) }}
	{% if alumnos_not_sorted() %}
		{% if settings().show_tutorias %}
			<div class="paper bg-white">
				{% include 'alumnos_tutorias_incoming_block.html' %}
			</div>
		{% endif %}
		<br>
	{% endif %}
	{# XXX alumnos #}
	<div class="paper bg-white padding_contenido">
		{{titulo_1(url="alumnos",bg_color="bg-dark",titulo=grupo_activo().nombre, subtitulo=[ grupo_activo().centro, [ grupo_activo().curso_academico, grupo_activo().curso_academico +1 ]|join("-") ]|join(": "))}}
		<div id="parent_alumno">
			<div>
				{# TODO: alumnos_add #}
				{% include 'alumnos_add_block.html' %}
			</div>
			<div>
				{# TODO: alumnos_listado #}
				{% for alumno in alumnos("apellidos", "nombre")%}
					{% include 'alumnos_block.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
