<div class="card_XXX">
	<form action="/alumnos" method="POST">
		<div class="contenido-2">
			{% if not params['alumno_edit_link']or(params['alumno_edit_link']and not equal_str(alumno.id, params['current_alumno_id'])) %}
				{% include "alumno_ficha_not_edit_block.html" %}
				{{field_form(alumno_edit.current_alumno_id, value=hashids_encode(alumno.id))}}
				<div class="btn-group" role="group" aria-label="...">
					<button role="button" type="submit" name="selector_button" value="selector_alumno_edit_link" class="btn btn-secondary" title="editar ficha">
						<i class="material-icons vertical-center">edit</i>
						editar ficha
					</button>
					{% if equal_str(alumno.id,params['current_alumno_id']) and params['collapse_alumno_edit']%}
						<button role="button" type="submit" name="selector_button" value="selector_alumno_edit_close" class="btn btn-secondary" title="cerrar ficha">
							<i class="material-icons vertical-center">close</i>
						</button>
					{% endif %}
				</div>
			{% else %}
				{% if equal_str(alumno.id, params['current_alumno_id']) %}
					{{field_form(alumno_edit.nombre, value=alumno.nombre, addon='nombre')}}
					{{field_form(alumno_edit.apellidos, value=alumno.apellidos, addon='apellidos')}}
					{{field_form(alumno_edit.current_alumno_id, value=hashids_encode(alumno.id))}}
					{% include 'alumno_asignaturas_block.html' %}
					<br>
					{% include 'alumno_ficha_bottons_block.html' %}
				{% elif equal_str(alumno.id, params['current_alumno_id'])%}
					{% if equal_str(alumno.id, params['current_alumno_id'])and request.method == 'POST' and params['alumno_edit_link'] %}
						<br>
						{{field_form(alumno_edit.nombre, error=True, error_css=True, addon='nombre')}}
						{{field_form(alumno_edit.apellidos, error=True,error_css=True, addon='apellidos')}}
						{{field_form(alumno_edit.current_alumno_id)}}
						{% include 'alumno_asignaturas_block.html' %}
						<br>
						{% include 'alumno_ficha_bottons_block.html' %}
					{% endif %}
				{% endif %}
			{% endif %}
			<br><br>
		</div>
	</form>
</div>
