<div class="contenido_2">
	<form class="container" action="/alumnos" class="form-inline" action="alumnos" method="POST">
		<div class="row">
			<div class="form-group col-md-6 mb-3">
				<div class="input-group">
					<input
						type="text"
						class="form-control datepicker cursor {% if request.method=='POST' %} {% if tutoria_add.fecha.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
						name="{{tutoria_add.fecha.name}}"
						value="{% if request.method=='POST' %}{{tutoria_add.fecha.data}}{% else %}{{g.current_date.strftime('%A-%d-%B-%Y')}}"
						{% endif %}
						placeholder="{{tutoria_add.fecha.label.text}}">
					<span class="input-group-addon {% if request.method=='POST' %} {% if tutoria_add.fecha.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">fecha</span>
				</div>
			</div>
			<div class="input-group col-md-6  mb-3">
				<input
					type="text"
					class="form-control clockpicker {% if request.method=='POST' %} {% if tutoria_add.hora.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
					style="background-color: white"
					name="{{tutoria_add.hora.name}}"
					value="{% if request.method=='POST' %}{{tutoria_add.hora.data}}{% else %}{{g.current_time.strftime('%H:%M')}}{% endif %}"
					placeholder="{{tutoria_add.hora.label.text}}">
				<span class="input-group-addon {% if request.method=='POST' %} {% if tutoria_add.hora.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">hora</span>
			</div>
		</div>
		<input class="form-group form-control" type="hidden" name="current_alumno_id" value={{hashids_encode(alumno.id)}}>
		<div class="btn-group" role="group" aria-label="...">
			<button role="button" type="submit" class="btn btn-outline-primary" name="selector_button" value="selector_tutoria_add" title="solicitar tutoria">
				<i class="material-icons vertical-center">local_post_office</i>
				Solicitar</button>
			{% if equal_str(alumno.id, params['current_alumno_id']) and params['collapse_tutoria_add']%}
				<button role="button" type="submit" name="selector_button" value="selector_tutoria_add_close" class="btn btn-outline-dark" title="Cerrar">
					<i class="material-icons vertical-center">close</i>
				</button>
			{% endif %}
		</div>
	</form>
	<br>
</div>
