<div class="form-group col-md-6 col-lg-4">
	<label class="custom-control custom-checkbox">
		<input
			type="checkbox"
			{% if not equal_str(alumno.id, params['current_alumno_id']) or not params['alumno_edit_link'] %}
			disabled
			{% endif %}
			class="custom-control-input"
			name="asignatura"
			value="{{hashids_encode(asignatura.id)}}"
			{% if association_alumno_asignatura_check(alumno.id,asignatura.id) %}
			checked
			{% endif %}>
		<span class="custom-control-indicator"></span>
		<span class="custom-control-description {% if not association_alumno_asignatura_check(alumno.id,asignatura.id) %}text-muted{% endif %}">{{asignatura.asignatura}}</span>
	</label>
</div>
