{% extends "_layout.html" %}
{% block body %}
	{%from "_macro.html" import field_form,titulo_1, checkbox_funky,checkbox, highcharts_tutoria_stats, nav_bar_top%}
	{{ nav_bar_top(link_active='Alumnos',params=params) }}
	{% if alumnos_not_sorted() %}
		{% if settings().show_tutorias %}
			<div class="paper bg-white">
				<a data-toggle="collapse" class="collpase-header-secondary" role="tab" data-parent="#parent_tutorias" href="#collapse_proxima_tutoria" aria-expanded="false">
					{% if grupo_tutorias(grupo_activo().id, True) %}
						{% for tutoria in grupo_tutorias(grupo_activo().id, True) %}
							<i class="material-icons vertical-center">cloud</i>
						{% endfor %}
						<strong>
							&nbsp;
							{{singular_plural("tutoria", "tutorias", grupo_tutorias(grupo_activo().id, True) | count)}}
							{{singular_plural("solicitada", "solicitadas", grupo_tutorias(grupo_activo().id, True) | count)}}
						</strong>
					{% else %}
						<i class="material-icons vertical-center">wb_sunny</i>
						&nbsp;Relax, no tienes tutorias
					{% endif %}
				</a>
				<div id="collapse_proxima_tutoria" role="tabpanel" class="collapse {% if settings().show_tutorias_collapse and grupo_tutorias(grupo_activo().id, True) %} show {% endif %}">
					{% if grupo_tutorias(grupo_activo().id, True) %}
						{% include "alumno_tutorias_incoming_block.html" %}
						<br>
					{% else %}
						<div class="padding_contenido text-mutted">
							ira una frase positiva/divertida o directamente una Cita
							<br>
							igual tengo que poner tambien categorias a las citas
						</div>
					{% endif %}
				</div>
			</div>
			<br>
		{% endif %}
	{% endif %}
	{# XXX alumnos #}
	<div class="paper bg-white padding_contenido">
		<a id="anchor_alumno_add"></a>
		{{titulo_1(url="alumnos",bg_color="bg-dark",titulo=grupo_activo().nombre, subtitulo=[ grupo_activo().centro, [ grupo_activo().curso_academico, grupo_activo().curso_academico +1 ]|join("-") ]|join(": "))}}
		<div id="parent_alumno">
			<a id="anchor_alu_add"></a>
			<div>
				<a data-toggle="collapse" data-parent="#parent_alumno" href="#alumno_add" class="collapse_header_1" aria-expanded="false" title="Agregar alumno">
					<div class="media">
						&nbsp;<i class="material-icons vertical-center">person</i>&nbsp;
						<div class="media-body">
							<div class="padding_2">
								agregar nuevo alumno
							</div>
						</div>
					</div>
				</a>
				<div id="alumno_add" class="collapse {% if params['collapse_alumno_add'] %} show {% endif %}">
					{# TODO: alumnos_add #}
					{%include "alumno_add_block.html"%}
				</div>
			</div>
			<div>
				{% for alumno in alumnos("apellidos", "nombre")%}
					{# TODO: alumnos_listado #}
					{%include "alumno_block.html"%}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
