<div id="alumno_add" class="collapse  {% if params['collapse_alumno_add'] %} show {% endif %}">
	<div class="border border-gray border-top-0 rounded-bottom z-depth-1-1-less">
		<div class="card-body p-2">
			<form action="/alumnos" method="POST" enctype="multipart/form-data">
				<div class="d-flex row">
					{% if params['alumno_importar_link'] %}
						<div class="col-sm-12 pb-3">
							Desde Séneca exporta tus alumnos en formato *.CSV
						</div>
						<div class="form-group col-auto">
							<label class="btn btn-outline-dark btn-sm" title="seleccionar archivo" for="selector_fichero">
								<input id="selector_fichero" type="file" name="fichero" style="display:none" onchange="$('#upload_file_info').html(this.files[0].name)">
								Seleccionar archivo CSV
							</label>
							<span class="label label-success" id="upload_file_info"></span>
						</div>
					{% else %}
						<div class="form-group col-md-6">
							<div class="input-group">
								<input
									type="text"
									class="form-control {% if request.method=='POST' and params['collapse_alumno_add'] %} {% if alumno_add.nombre.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
									name="{{alumno_add.nombre.name}}"
									value="{% if request.method=='POST' and params['collapse_alumno_add'] %}{{alumno_add.nombre.data}}{% endif %}"
									placeholder="{{alumno_add.nombre.label.text}}">
								<span class="input-group-addon {% if request.method=='POST' and params['collapse_alumno_add'] %} {% if alumno_add.nombre.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">nombre</span>
							</div>
						</div>
						<div class="form-group col-md-6">
							<div class="input-group">
								<input
									type="text"
									class="form-control {% if request.method=='POST' and params['collapse_alumno_add'] %} {% if alumno_add.apellidos.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
									name="{{alumno_add.apellidos.name}}"
									value="{% if request.method=='POST' and params['collapse_alumno_add'] %}{{alumno_add.apellidos.data}}{% endif %}"
									placeholder="{{alumno_add.apellidos.label.text}}">
								<span class="input-group-addon {% if request.method=='POST' and params['collapse_alumno_add'] %} {% if alumno_add.apellidos.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">apellidos</span>
							</div>
						</div>
					{% endif %}
					<div class="col-sm-12">
						<div class="btn-group" role="group">
							{% if params['alumno_importar_link'] %}
								<button class="btn btn-outline-primary btn-sm" type="submit" name="selector_button" value="selector_alumno_importar" title="guardar alumnos">
									<i class="material-icons vertical-center">people</i>
									guardar
								</button>
								<button class="btn btn-outline-dark btn-sm" type="submit" name="selector_button" value="selector_alumno_importar_cerrar" title="cerrar">
									<i class="material-icons vertical-center">close</i>
								</button>
							{% else %}
								<button class="btn btn-outline-primary btn-sm" type="submit" name="selector_button" value="selector_alumno_add" title="agregar alumno">
									<i class="material-icons vertical-center">save</i>
									guardar
								</button>
								<button class="btn btn-outline-dark btn-sm" type="submit" name="selector_button" value="selector_alumno_importar_link" title="importar Séneca">
									<i class="material-icons vertical-center">people</i>
									importar de Séneca
								</button>
								{% if request.method == "POST" and params['collapse_alumno_add'] %}
									<button class="btn btn-outline-dark btn-sm" type="submit" name="selector_button" value="selector_alumno_add_cerrar" title="cerrar">
										<i class="material-icons vertical-center">close</i>
									</button>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
