<a data-toggle="collapse" class="collpase-header-dark" role="tab" data-parent="#parent_tutorias" href="#collapse_tutorias_deleted" aria-expanded="false">
	<i class="material-icons vertical-center">delete_sweep</i>
	Papelera de tutorías
	<span class="badge badge-light float-right mt-1" title="tutorias eliminadas">
		{{tutorias_by_grupo_id_deleted_count}}
		{{singular_plural("tutoria", "tutorias", tutorias_by_grupo_id_deleted_count)}}
	</span>
</a>
<div id="collapse_tutorias_deleted" class="collapse">
	<div id="tutoria_papelera" class="padding_contenido pt-2">
		{% for tutoria in tutorias_by_grupo_id_deleted %}
			{% with %}
			{% set tutoria_deleted_stats = tutoria_incoming(tutoria.id) %}
			<div class="class_name">
				<a data-toggle="collapse" class="collapse_header_1" role="tab" data-parent="#tutoria_papelera" href="#tutoria_deleted_{{hashids_encode(tutoria.id)}}" aria-expanded="false" aria-controls="tutoria_deleted_{{hashids_encode(tutoria.id)}}" title="Opciones">
					<i class="material-icons vertical-center">expand_more</i>
					{{translate_fecha(tutoria.fecha.strftime('%A') | capitalize)}}
					{{tutoria.fecha.strftime('%d')}}
					[{{tutoria.hora.strftime('%H:%M')}}]
					<span class="text-gray small">
						{{alumno_by_id(tutoria.alumno_id).nombre}}
					</span>
					<span class="badge badge-info float-right mt-1" title="{{tutoria_deleted_stats['porcentaje']}}% de los informes recibidos">
						{{tutoria_deleted_stats['porcentaje']}}%
					</span>
				</a>
				<div id="tutoria_deleted_{{hashids_encode(tutoria.id)}}" role="tabpanel" class="collapse">
					<div>
						{% include 'alumnos_tutoria_deleted_opciones_block.html' %}
					</div>
				</div>
			</div>
			{% endwith %}
		{% endfor %}
	</div>
	<div class="padding_contenido small pt-0">
		Las tutorias que lleven {{g.settings_global.periodo_deleted_tutorias}} {{singular_plural('día','días', g.settings_global.periodo_deleted_tutorias)}} en la papelera se eliminarán automáticamente.
		<div class="mt-2">
			<div class="btn-group" role="group">
				<a data-toggle="collapse" href="#alumnos_tutorias_deleted_vaciar_papelera" class="btn btn-outline-dark btn-sm link_without_pointer rounded" aria-expanded="false" title="Vaciar papelera">
					Vaciar papelera
				</a>
				{% include 'alumnos_tutorias_vaciar_papelera_confirmar_block.html' %}
			</div>
		</div>
	</div>
</div>
