<br>
<div class="padding_3">
	{% if not alumno_tutorias(alumno.id, '') %}
		<div class="text-muted">Sin tutorias</div>
	{% else %}
		{# TODO: tutorias_activas #}
		{% for tutoria in alumno_tutorias(alumno.id, '') %}
		{% with %}
		{% set tutoria_incoming = tutoria_incoming(tutoria.id) %}
			<a id="anchor_tut_{{hashids_encode(tutoria.id)}}"></a>
			<a href="/analisis/{{dic_encode_args({'current_tutoria_id': tutoria.id})}}" class="collapse_header_2" title="ver informe">
				<span class="{% if tutoria.activa %} h5 strong {% else %} text-mutted {% endif %}">
					{{tutoria.fecha.strftime('%b') | capitalize}}
					{{tutoria.fecha.strftime('%A') | capitalize}}
					{{tutoria.fecha.strftime('%d')}}
					[{{tutoria.hora.strftime('%H:%M')}}]
				</span>
				<span class="badge float-right {% if tutoria.activa %} badge-secondary {% else %} badge-info{% endif %}" title="{{tutoria_incoming['porcentaje']}}% de los informes recibidos">
					{{tutoria_incoming['porcentaje']}}%
				</span>
			</a>
			<div class="progress rounded-0">
				<div
					class="progress-bar {% if tutoria.activa %} bg-secondary progress-bar-striped progress-bar-animated {% else %} bg-mutted {% endif %}"
					role="progressbar"
					aria-valuemin="0"
					aria-valuemax="100"
					style="{% if not tutoria.activa %} height:2px; {% endif %} width: {{tutoria_incoming['porcentaje']}}%;"></div>
			</div>
				{% endwith %}
		{% endfor %}
	{% endif %}
</div>
<br>
