<div class="contenido">
	{% if not alumno_tutorias(alumno.id, '') %}
		<div class="text-muted">Sin tutorias</div>
	{% else %}
		{# TODO: tutorias_activas #}
		{% for tutoria in alumno_tutorias(alumno.id, '') %}
			<a id="anchor_tut_{{hashids_encode(tutoria.id)}}"></a>
			<a href="/analisis/{{dic_encode_args({'current_tutoria_id': tutoria.id})}}" class="collapse_header_2" title="ver informe">
				<span class="{% if tutoria.activa %} h4 strong {% else %} text-mutted {% endif %}">{{tutoria.fecha.strftime('%A') | capitalize}}
					{{tutoria.fecha.strftime('%d')}}
					a las
					{{tutoria.hora.strftime('%H:%M')}}
				</span>
			</a>
			<div class="progress rounded-0">
				<div
					class="progress-bar {% if tutoria.activa %} bg-success progress-bar-striped progress-bar-animated {% else %} bg-mutted {% endif %}"
					role="progressbar"
					aria-valuemin="0"
					aria-valuemax="100"
					style="{% if not tutoria.activa %} height:2px; {% endif %} width: {{cociente_porcentual(tutoria_informes(tutoria.id) | count, tutoria_asignaturas_count(tutoria.id))}}%;"></div>
			</div>
		{% endfor %}
	{% endif %}
</div>
