<a id="anchor_alu_asig_{{hashids_encode(alumno.id)}}"></a>
<a data-toggle="collapse" href="#alumno_asignatura_{{hashids_encode(alumno.id)}}" class="collapse_header_1" aria-expanded="false">
	<i class="material-icons vertical-center">expand_more</i>Asignaturas de
	{{alumno.nombre}}:
	<span class="badge badge-info float-right">{{alumno_asignaturas(alumno.id) | count}}
		|
		{{asignaturas_not_sorted() | count}}
	</span>
</a>
<div id="alumno_asignatura_{{hashids_encode(alumno.id)}}" class="collapse show">
	{# TODO: Listado de asignaturas #}
	<div class="padding_3">
		<br>
		{% if not asignaturas('asignatura', 'nombre', 'apellidos') %}
			<span class="text-warning">Grupo aun sin asignaturas</span>
		{% else %}
		<div class="row">


			{% for asignatura in asignaturas('asignatura', 'nombre', 'apellidos') %}
				<div class="form-group col-md-6 col-lg-4">
					<label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" name="asignatura" value="{{hashids_encode(asignatura.id)}}" {% if association_alumno_asignatura_check(alumno.id,asignatura.id) %} checked {% endif %}>
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description {% if not association_alumno_asignatura_check(alumno.id,asignatura.id) %}text-mutted{% endif %}">{{asignatura.asignatura}}</span>
					</label>
				</div>
			{% endfor %}
				</div>
		{% endif %}
	</div>
</div>
<br>
