<div class="card-body p-2">
	<form action="/alumnos" method="POST">
		<div class="row">
			<div class="form-group col-md-6 mb-3">
				<div class="input-group">
					<input
						type="text"
						{% if not equal_str(alumno.id, params['current_alumno_id']) or not params['alumno_edit_link'] %}
						readonly="readonly"
						{% endif %}
						class="form-control {% if request.method=='POST' and params['collpase_alumno_edit'] %} {% if alumno_edit.nombre.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
						name="{{alumno_edit.nombre.name}}"
						value="{% if equal_str(alumno.id,params['current_alumno_id']) and request.method=='POST' and params['collpase_alumno_edit'] %}{{alumno_edit.nombre.data}}{% else %}{{alumno.nombre}}{% endif %}"
						placeholder="{{alumno_edit.nombre.label.text}}">
					<span class="input-group-addon {% if request.method=='POST' and params['collpase_alumno_edit'] %} {% if alumno_edit.nombre.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">nombre</span>
				</div>
			</div>
			<div class="form-group col-md-6 mb-3">
				<div class="input-group">
					<input
						type="text"
						{% if not equal_str(alumno.id, params['current_alumno_id']) or not params['alumno_edit_link'] %}
						readonly="readonly"
						{% endif %}
						class="form-control {% if request.method=='POST' and params['collpase_alumno_edit'] %} {% if alumno_edit.apellidos.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
						name="{{alumno_edit.apellidos.name}}"
						value="{% if equal_str(alumno.id,params['current_alumno_id']) and request.method=='POST' and params['collpase_alumno_edit'] %}{{alumno_edit.apellidos.data}}{% else %}{{alumno.apellidos}}{% endif %}"
						placeholder="{{alumno_edit.apellidos.label.text}}">
					<span class="input-group-addon {% if request.method=='POST' and params['collpase_alumno_edit'] %} {% if alumno_edit.apellidos.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">apellidos</span>
				</div>
			</div>
		</div>
		<input type="hidden" name="current_alumno_id" value="{{hashids_encode(alumno.id)}}">
		{% include 'alumnos_ficha_asignaturas_block.html' %}
		{% if equal_str(alumno.id, params['current_alumno_id']) and params['alumno_edit_link'] %}
			<div class="btn-group" role="group">
				<button role="button" type="submit" name="selector_button" value="selector_alumno_edit" class="btn btn-outline-dark btn-sm" title="Guardar cambios">
					<i class="material-icons vertical-center">save</i>
					Guardar</button>
				<a data-toggle="collapse" href="#alumno_delete_confirmar_{{hashids_encode(alumno.id)}}" class="btn btn-outline-dark btn-sm link_without_pointer" aria-expanded="false" title="Eliminar alumno">
					<i class="material-icons vertical-center">delete</i>
				</a>
				{% include 'alumnos_delete_confirmar_block.html' %}
				<button role="button" type="submit" name="selector_button" value="selector_alumno_edit_link_close" class="btn btn-outline-dark btn-sm" title="Cerrar edición">
					<i class="material-icons vertical-center">close</i>
				</button>
			</div>
		{% else %}
			<div class="d-flex flex-row-reverse">
				<div class="btn-group mt-2" role="group">
					<button role="button" type="submit" name="selector_button" class="btn btn-outline-dark btn-sm" value="selector_alumno_edit_link" title="Editar alumno">
						<i class="material-icons vertical-center">edit</i>
						Editar ficha
					</button>
					{% if equal_str(alumno.id,params['current_alumno_id']) and params['collapse_alumno_edit']%}
						<button role="button" type="submit" name="selector_button" class="btn btn-outline-dark btn-sm" value="selector_alumno_edit_close" title="Cerrar ficha">
							<i class="material-icons vertical-center">close</i>
						</button>
					{% endif %}
				</div>
			</div>
		{% endif %}
	</form>
</div>
