<div class="card_XXX">
	<a id="anchor_tut_{{hashids_encode(tutoria.id)}}"></a>
	<a data-toggle="collapse" data-parent="#tutorias_no_activas_{{alumno.id}}" href="#tutoria_{{hashids_encode(tutoria.id)}}" class="list-group-item-7" aria-expanded="false">
		<i class="material-icons vertical-center">expand_more</i>
		<span class="text-info">
			{{tutoria.fecha.strftime('%B') | capitalize}}
			-
			{{tutoria.fecha.strftime('%A') | capitalize}}
			{{tutoria.fecha.strftime('%d')}}
			|
			{{tutoria.hora.strftime('%H:%M')}}</span>
	</a>
	<div class="progress">
		<div class="progress-bar bg-gray-3" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{cociente_porcentual(tutoria_informes(tutoria.id) | count, tutoria_asignaturas_count(tutoria.id))}}%;"></div>
	</div>
	<div id="tutoria_{{hashids_encode(tutoria.id)}}" class="collapse {% if equal_str(tutoria.id, params['current_tutoria_id']) and params['collapse_tutoria_no_activas'] %} in {% endif %}">
		<div class="card_XXX">
			{% include 'alumno_tutoria_detalles_block.html' %}
		</div>
	</div>
</div>
