<h6></h6>
<div class="padding_3">
	{% if not params['alumno_edit_link'] %}
		{# XXX Informacion del alumno #}
		<span class="text-mutted">Nombre:</span>
		{{alumno.nombre}}
		<br>
		<span class="text-mutted">Apellidos:</span>
		{{alumno.apellidos}}
		<br>
		<div class="text-mutted border border-info border-left-0 border-right-0 border-top-0">Asignaturas de
			{{alumno.nombre}}:
			<span class="badge badge-info float-right">{{alumno_asignaturas(alumno.id) | count}}
				|
				{{asignaturas_not_sorted() | count}}
			</span>
		</div>
		{% if alumno_asignaturas(alumno.id) %}
			<h6></h6>
			{% for asignatura in alumno_asignaturas(alumno.id) %}
				<div class="padding_1">
					<i class="material-icons vertical-center" style="font-size: 18px">check</i>
					{{asignatura.asignatura}}
				</div>
			{% endfor %}
			<br>
		{% else %}
			<div class="padding_contenido">
				<span class="text-warning">Sin asignaturas asignadas.</span>
			</div>
		{% endif %}
		{# XXX FIN Informacion del alumno #}
	{% endif %}
	<form class="container" action="/alumnos" method="POST">
		{% if not params['alumno_edit_link']or(params['alumno_edit_link']and not equal_str(alumno.id, params['current_alumno_id'])) %}
			<input type="hidden" name="current_alumno_id" value="{{hashids_encode(alumno.id)}}">
			<div class="btn-group" role="group" aria-label="...">
				<button role="button" type="submit" name="selector_button" class="btn btn-outline-dark btn-sm" value="selector_alumno_edit_link" title="editar ficha">
					<i class="material-icons vertical-center">edit</i>
					editar ficha
				</button>
				{% if equal_str(alumno.id,params['current_alumno_id']) and params['collapse_alumno_edit']%}
					<button role="button" type="submit" name="selector_button" class="btn btn-outline-dark btn-sm" value="selector_alumno_edit_close" title="cerrar ficha">
						<i class="material-icons vertical-center">close</i>
					</button>
				{% endif %}
			</div>
		{% else %}
			{% include 'alumno_ficha_edit_block.html' %}
		{% endif %}
	</form>
</div>
<br>
