<a data-toggle="collapse" class="collpase-header-secondary" role="tab" data-parent="#parent_tutorias" href="#collapse_proxima_tutoria" aria-expanded="false">
	{% if grupo_tutorias(grupo_activo().id, True) %}
		{% for tutoria in grupo_tutorias(grupo_activo().id, True) %}
			<i class="material-icons vertical-center">cloud</i>
		{% endfor %}
		<strong>
			&nbsp;
			{{singular_plural("tutoria", "tutorias", grupo_tutorias(grupo_activo().id, True) | count)}}
			{{singular_plural("solicitada", "solicitadas", grupo_tutorias(grupo_activo().id, True) | count)}}
		</strong>
	{% else %}
		<i class="material-icons vertical-center">wb_sunny</i>
		&nbsp;Relax, no tienes tutorias
	{% endif %}
</a>
<div id="collapse_proxima_tutoria" role="tabpanel" class="collapse {% if grupo_tutorias(grupo_activo().id, True) %} show {% endif %}">
	{% if grupo_tutorias(grupo_activo().id, True) %}
		<div>
			<div class="padding_contenido">
				{% for tutoria in grupo_tutorias(grupo_activo().id, True) %}
					<a href="/analisis/{{dic_encode_args({'current_tutoria_id': tutoria.id})}}" class="collapse_header_2" title="ver informe">
						&nbsp;
						{{tutoria.fecha.strftime('%A') | capitalize}}
						{{tutoria.fecha.strftime('%d')}}
						[{{tutoria.hora.strftime('%H:%M')}}]
						{{alumno_by_id(tutoria.alumno_id).nombre}}
						<span class="badge badge-secondary float-right" title="{{cociente_porcentual(asignaturas_recibidas_by_tutoria_id(tutoria.id)[0] | count, asignaturas_solicitadas_horario_by_tutoria_id(tutoria.id) | count)}}% de los informes recibidos">
							{{cociente_porcentual(asignaturas_recibidas_by_tutoria_id(tutoria.id)[0] | count, asignaturas_solicitadas_horario_by_tutoria_id(tutoria.id) | count)}}%
						</span>
					</a>
					<div class="progress">
						<div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height:2px; width: {{cociente_porcentual(asignaturas_recibidas_by_tutoria_id(tutoria.id)[0] | count, asignaturas_solicitadas_horario_by_tutoria_id(tutoria.id) | count)}}%;"></div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% else %}
		<div class="padding_contenido text-mutted">
			{% if cita_random() %}
				"{{cita_random().frase}}".
				<span class="text-info">
					-
					{{cita_random().autor}}
				</span>
			{% endif %}
		</div>
	{% endif %}
</div>
