<a id="anchor_alu_asig_{{hashids_encode(alumno.id)}}"></a>
<a data-toggle="collapse" href="#alumno_asignatura_{{hashids_encode(alumno.id)}}" class="list-group-item-2" aria-expanded="false">
	<i class="material-icons vertical-center">expand_more</i>Asignaturas de
	{{alumno.nombre}}
</a>
<div id="alumno_asignatura_{{hashids_encode(alumno.id)}}" class="collapse {% if equal_str(alumno.id, params['current_alumno_id']) and params['collapse_alumno_edit_asignaturas'] %} in {% endif %}">
	<div class="card_XXX">
		<div class="contenido-2">
			<a href="/asignaturas/{{dic_encode_args({'current_alumno_id':alumno.id, 'collapse_asignatura_add': True, 'from_url':'from_alumno_edit_asignaturas'})}}" class="list-group-item-4" title="Agregar asignatura">
				<span class="material-icons vertical-center">import_contacts</span>
				&nbsp; agregar nueva asignatura
			</a>
			{# TODO: Listado de asignaturas #}
			{% if not asignaturas('asignatura', 'nombre', 'apellidos') %}
				<br>
				<span class="text-danger">Grupo aun sin asignaturas</span>
			{% else %}
				{% for asignatura in asignaturas('asignatura', 'nombre', 'apellidos') %}
					{{checkbox_funky(alumno, asignatura, 'asignatura', 'alumno_edit')}}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
