<div class="mb-3">
	<span class="small text-mutted mr-1"><u>Original</u>:</span><span>{{-informe_by_tutoria_id_by_asignatura_id_sql.comentario-}}</span>
</div>
<textarea class="form-control text-secondary" name="comentario_edit_{{hashids_encode(informe_by_tutoria_id_by_asignatura_id_sql.id)}}">{% if informe_by_tutoria_id_by_asignatura_id_sql.comentario_editado %}{{-informe_by_tutoria_id_by_asignatura_id_sql.comentario_editado-}}{% else %}{{-informe_by_tutoria_id_by_asignatura_id_sql.comentario-}}{% endif %}</textarea>
<div class="btn-group mb-1 mt-2" role="group">
	<button role="button" type="submit" class="btn btn-outline-dark btn-sm" name="selector_button" value="selector_comentario_edit_{{hashids_encode(informe_by_tutoria_id_by_asignatura_id_sql.id)}}" title="Guardar">
		<i class="material-icons vertical-center">save</i>
		Guardar
	</button>
	<button role="button" type="submit" class="btn btn-outline-dark btn-sm" name="selector_button" value="selector_comentario_restaurar_{{hashids_encode(informe_by_tutoria_id_by_asignatura_id_sql.id)}}" title="Restaurar">
		<i class="material-icons vertical-center">rotate_left</i>
		Restuarar
	</button>
</div>
