{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1%}
	{{ nav_bar_top(link_active='alumnos',params=params, current_user=current_user) }}
	<div class="paper bg-white padding_contenido">
		{{titulo_1(bg_color='bg-primary', titulo='Tutoría no existe ')}}
		<div class="padding_3 text-warning text-center">
			Esta tutoría ha sido descartada.
			<br><br>
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-outline-dark" href="/alumnos" role="button">regresar al listado de alumnos</a>
			</div>
		</div>
		<br>
	</div>
{% endblock %}
