<div id="comentario_edit_{{hashids_encode(informe_by_tutoria_id_by_asignatura_id_sql.id)}}" role="tabpanel" class="collapse">
	<div class="border border-mutted rounded z-depth-1-1-less p-2 mt-3">
	<div class="small text-mutted">
		Observación original:
	</div>
	<div class="small text-mutted">
		{{-informe_by_tutoria_id_by_asignatura_id_sql.comentario-}}
	</div>
	<div class="divider bg-info my-2"></div>
	<div class="small">
		Edita la observación original:
	</div>
	<textarea class="form-control" name="comentario_edit_{{hashids_encode(informe_by_tutoria_id_by_asignatura_id_sql.id)}}">{% if informe_by_tutoria_id_by_asignatura_id_sql.comentario_editado %}{{-informe_by_tutoria_id_by_asignatura_id_sql.comentario_editado-}}{% else %}{{-informe_by_tutoria_id_by_asignatura_id_sql.comentario-}}{% endif %}</textarea>
	<div class="btn-group my-2" role="group">
		<button role="button" type="submit" class="btn btn-outline-dark btn-sm" name="selector_button" value="selector_comentario_edit_{{hashids_encode(informe_by_tutoria_id_by_asignatura_id_sql.id)}}" title="Guardar">
			<i class="material-icons vertical-center">save</i>
			Guardar
		</button>
		<button role="button" type="submit" class="btn btn-outline-dark btn-sm" name="selector_button" value="selector_comentario_restaurar_{{hashids_encode(informe_by_tutoria_id_by_asignatura_id_sql.id)}}" title="Restaurar">
			<i class="material-icons vertical-center">rotate_left</i>
			Restuarar original
		</button>
	</div>
	</div>
</div>
