<div class="row">
	<div class="clearfix visible-xs"></div>
	<div class="padding_contenido">
		{#TODO: datepicker and clockpicker #}
		<div class="row">
			<div class="form-group col-md-8 col-lg-8 mb-3">
				<div class="input-group">
					<input
						type="text"
						class="form-control datepicker cursor"
						name="fecha"
						readonly="true"
						style="background-color: white"
						value="{{tutoria.fecha.strftime('%A-%d-%B-%Y')}}"
						placeholder="{{tutoria.fecha.strftime('%A-%d-%B-%Y')}}">
					<span class="input-group-addon">fecha</span>
				</div>
			</div>
			<div class="form-group col-md-4 col-lg-4 mb-3">
				<div class="input-group">
					<input
						type="text"
						class="form-control clockpicker"
						style="background-color: white"
						readonly="true"
						name="hora"
						value="{{tutoria.hora.strftime('%H:%M')}}"
						placeholder="{{tutoria.hora.strftime('%H:%M')}}">
					<span class="input-group-addon">hora</span>
				</div>
			</div>
			<div class="btn-group col-md-12 mb-3" role="group">
				<button type="submit" class="btn btn-sm {% if tutoria.activa %} btn-outline-primary {% else %} btn-outline-primary{% endif %}" name="selector_button" value="selector_tutoria_edit" title="guardar cambios">
					<i class="material-icons vertical-center">save</i>
					Guardar
				</button>
				<button type="submit" class="btn btn-sm {% if tutoria.activa %} btn-outline-dark {% else %} btn-outline-mutted {% endif %}" name="selector_button" value="selector_tutoria_edit_close" title="cerrar">
					<i class="material-icons vertical-center">close</i>
				</button>
			</div>
		</div>
	</div>
</div>
