<div class="card_XXX">
	<form action="/asignaturas" method="POST">
		<div class="contenido_2">
			{% if equal_str(asignatura.id, params['current_asignatura_id']) and request.method == 'POST'%}
				{{field_form(asignatura_edit.asignatura, error=True, error_css=True, addon='asignatura')}}
				{{field_form(asignatura_edit.nombre, error=True, error_css=True, addon='nombre')}}
				{{field_form(asignatura_edit.apellidos, error=True, error_css=True, addon='apellidos')}}
				{{field_form(asignatura_edit.email, error=True, error_css=True, addon='@')}}
				{{field_form(asignatura_edit.current_asignatura_id)}}
				{%else%}
				{{field_form(asignatura_edit.asignatura, value=asignatura.asignatura, addon='asignatura')}}
				{{field_form(asignatura_edit.nombre, value=asignatura.nombre, addon='nombre')}}
				{{field_form(asignatura_edit.apellidos, value=asignatura.apellidos, addon='apellidos')}}
				{{field_form(asignatura_edit.email, value=asignatura.email, addon='@')}}
				{{field_form(asignatura_edit.current_asignatura_id, value=hashids_encode(asignatura.id))}}
			{% endif %}
		</div>
		{% include "asignatura_alumnos_block.html" %}
		<br>
		{% if params['asignatura_delete_link'] %}
			<div class="btn-group" role="group" aria-label="...">
				<button role="button" type="submit" name="selector_button" value="selector_asignatura_delete" class="btn btn-warning" title="confirmar eliminar asginatura">
					<i class="material-icons vertical-center">delete</i>
					confirmar eliminar</button>
				<button role="button" type="submit" name="selector_button" value="selector_asignatura_delete_close" class="btn btn-outline-dark" title="cancelar eliminar">
					<i class="material-icons vertical-center">close</i>
				</button>
			</div>
			<div class="clearfix"></div>
			<br>
			<span class="text-warning">
				Una vez elminada no podra ser recuperada.</span>
		{% else %}
			<div class="btn-group" role="group" aria-label="...">
				<button role="button" type="submit" name="selector_button" value="selector_asignatura_edit" class="btn btn-outline-primary" title="guardar cambios">
					<i class="material-icons vertical-center">save</i>
					guardar</button>
				<button role="button" type="submit" name="selector_button" value="selector_asignatura_edit_rollback" class="btn btn-outline-dark" title="deshacer cambios">
					<i class="material-icons vertical-center">settings_backup_restore</i>
				</button>
				<button role="button" type="submit" name="selector_button" value="selector_asignatura_delete_link" class="btn btn-outline-dark" title="eliminar asignatura">
					<i class="material-icons vertical-center">delete</i>
				</button>
			</div>
		{% endif %}
		<br><br>
	</form>
	
</div>
