<a data-toggle="collapse" class="collpase-header-secondary" role="tab" data-parent="#parent_analisis" href="#analisis_evolucion" aria-expanded="false">
	Evolución participación equipo educativo.
</a>
<div id="analisis_evolucion" role="tabpanel" class="collapse {% if grupo_tutorias(grupo_activo().id, '') %} show_XXX {% endif %}">
	{% if grupo_tutorias(grupo_activo().id, '') %}
		<div>
			<div class="padding_contenido">
				{{highcharts_admin_profesores_activos_evolucion(char_id='analisis_evolucion', color='#BA5FD3', stats=stats)}}
			</div>
		</div>
	{% else %}
		<div class="padding_contenido text-mutted">
			Primero ha de generar alguna tutoría
		</div>
	{% endif %}
</div>
