{% extends "_layout.html" %}
{% block body %}
	{%from "_macro.html" import nav_bar_top, titulo_1, highcharts_tutoria_stats, highcharts_admin_tutorias_exito_evolucion%}
	{{ nav_bar_top(link_active='asignaturas',params=params, current_user=current_user) }}

	<div class="paper bg-white padding_contenido">
		<a data-toggle="collapse" href="#tutorias_evolucion" class="collapse_header_1" aria-expanded="true" title="Evolucion participacion del profesorado">
			<i class="material-icons vertical-center">expand_more</i>
			Evolucion participacion del profesorado
		</a>
		<div class="collapse show" id="tutorias_evolucion">
			<div class="pt-3 pb-3">
				{{highcharts_admin_tutorias_exito_evolucion(char_id='tutorias_exito_evolucion', color='#BA5FD3', df_data=stats['evolucion_tutorias_exito_grupo'])}}
			</div>
		</div>
	</div>


<br> agregar variable para que se muetre o no la evolucion (similar las tutorias de alumnos en cuento a diseño)

	<div class="paper bg-white padding_contenido">
		{{titulo_1(url='asignaturas',bg_color='bg-dark',titulo=grupo_activo().nombre, subtitulo=[ grupo_activo().centro, [ grupo_activo().curso_academico, grupo_activo().curso_academico +1 ]|join("-") ]|join(": "))}}
		<div id="parent_alumno">
			<a id="anchor_asi_add"></a>
			<div>
				<a data-toggle="collapse" data-parent="#parent_alumno" href="#asignatura_add" class="collapse_header_1" aria-expanded="false" title="Agregar asignatura">
					<div class="media">
						&nbsp;<i class="material-icons vertical-center">import_contacts</i>&nbsp;
						<div class="media-body">
							<div class="padding_2">
								agregar nueva asignatura
							</div>
						</div>
					</div>
				</a>
				<div id="asignatura_add" class="collapse {% if params['collapse_asignatura_add'] %} show {% endif %}">
					{# TODO: asignaturas_add #}
					{% include 'asignaturas_add_block.html' %}
				</div>
			</div>
			<div>
				{% for asignatura in asignaturas('asignatura', 'apellidos', 'nombre') %}
					{# TODO: asignaturas_listado #}
					{% include 'asignaturas_block.html' %}
				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}
