{% extends "_layout.html" %}
{% block body %}
	{%from "_macro.html" import nav_bar_top, titulo_1, highcharts_tutoria_stats%}
	{{ nav_bar_top(link_active='Asignaturas',params=params, current_user=current_user) }}
	<div class="paper bg-white padding_contenido">
		{{titulo_1(url='asignaturas',bg_color='bg-dark',titulo=grupo_activo().nombre, subtitulo=[ grupo_activo().centro, [ grupo_activo().curso_academico, grupo_activo().curso_academico +1 ]|join("-") ]|join(": "))}}
		<div id="parent_alumno">
			<a id="anchor_asi_add"></a>
			<div>
				<a data-toggle="collapse" data-parent="#parent_alumno" href="#asignatura_add" class="collapse_header_1" aria-expanded="false" title="Agregar asignatura">
					<div class="media">
						&nbsp;<i class="material-icons vertical-center">import_contacts</i>&nbsp;
						<div class="media-body">
							<div class="padding_2">
								agregar nueva asignatura
							</div>
						</div>
					</div>
				</a>
				<div id="asignatura_add" class="collapse {% if params['collapse_asignatura_add'] %} show {% endif %}">
					{# TODO: asignaturas_add #}
					{% include 'asignaturas_add_block.html' %}
				</div>
			</div>
			<div>
				{% for asignatura in asignaturas('asignatura', 'apellidos', 'nombre') %}
					{# TODO: asignaturas_listado #}
					{% include 'asignaturas_block.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
