<a data-toggle="collapse" href="#asignatura_alumnos_{{hashids_encode(asignatura.id)}}" class="collapse_header_1" aria-expanded="false">
	<i class="material-icons vertical-center">expand_more</i>Alumnos de
	{{asignatura.asignatura}}
	<span class="badge badge-info float-right">
		{{asignatura_alumnos(asignatura.id)|count}}
		|
		{{alumnos_not_sorted()|count}}</span>
</a>
<div id="asignatura_alumnos_{{hashids_encode(asignatura.id)}}" class="collapse {% if equal_str(asignatura.id, params['current_asignatura_id']) and params['asignatura_edit_link'] %} show {% endif %}">
	<div class="padding_3 py-2">
		{% if not alumnos('apellidos', 'nombre') %}
			<span class="text-warning">Grupo aun sin alumnos</span>
		{% else %}
			<div class="row">
				{% if equal_str(asignatura.id, params['current_asignatura_id'])and params['asignatura_edit_link'] %}
					{% for alumno in alumnos('apellidos', 'nombre') %}
						{% include 'asignaturas_alumnos_listado_block.html' %}
					{% endfor %}
				{% else %}
					{% if asignatura_alumnos(asignatura.id) %}
						{% for alumno in alumnos('apellidos', 'nombre') %}
							{% if association_alumno_asignatura_check(alumno.id, asignatura.id) %}
								{% include 'asignaturas_alumnos_listado_block.html' %}
							{% endif %}
						{% endfor %}
					{% else %}
						<div class="col-sm-12">
							<div class="text-warning small">Asignatura sin alumnos asignados</div>
						</div>
					{% endif %}
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>
