<a data-toggle="collapse" href="#asignatura_alumnos_{{hashids_encode(asignatura.id)}}" class="collapse_header_1" aria-expanded="false">
	<i class="material-icons vertical-center">expand_more</i>Alumnos de
	{{asignatura.asignatura}}
	<span class="badge badge-info float-right">
		{{asignatura_alumnos(asignatura.id)|count}}
		|
		{{alumnos_not_sorted()|count}}</span>
</a>
<div id="asignatura_alumnos_{{hashids_encode(asignatura.id)}}" class="collapse {% if not asignatura_alumnos(asignatura.id) %} show {% endif %}">
	<div class="padding_3">
		{% if alumnos('apellidos', 'nombre')%}
			{% for alumno in alumnos('apellidos', 'nombre') %}
				{{checkbox_funky(alumno,asignatura,'alumno','asignatura_edit')}}
			{% endfor %}
		{% else %}
			<div class="padding_3 text-warning">
				Grupo sin alumnos.
			</div>
		{% endif %}
	</div>
</div>
<br>
