
{% if informe %}
	{% set invitado_pruebas_evaluables_sql = invitado_pruebas_evaluables(informe.id) %}
{% endif %}
<div class="bg-gray text-white px-1 mb-2">
	Calificaciones
</div>
<div class="row px-4">
	{% for calificacion in invitado_pruebas_evaluables_sql%}
		{% with %}
		{% set invitado_pruebas_evaluables_sql_count = invitado_pruebas_evaluables_sql | count %}
		<div class="col-sm-12 {% if invitado_pruebas_evaluables_sql_count > 1 %} col-md-6 {% if invitado_pruebas_evaluables_sql_count > 2 %} col-lg-4 {% endif %} {% endif %} mb-2 px-2">
			<a id="anchor_pru_eva_{{hashids_encode(calificacion.id)}}"></a>
			<div class="card border-gray z-depth-1-1-less mb-2">
				<div class="card-header p-1">
					<div class="input-group">
						<span class="input-group-addon bg-light border border-0">
							<i class="material-icons vertical-center">edit</i>
						</span>
						<input
							type="text"
							class="form-control bg-light border border-0 pl-0"
							name="calificacion_nombre_{{hashids_encode(calificacion.id)}}"
							value="{% if calificacion.nombre %}{{calificacion.nombre}}{% endif %}"
							placeholder="Escribe nombre de la prueba {{loop.index}}">
						<div class="btn-group" role="group">
							{% include 'informe_calificacion_delete_confirmar_block.html' %}
							<a data-toggle="collapse" href="#calificacion_close_{{hashids_encode(calificacion.id)}}" class="btn btn-outline-dark btn-sm link_without_pointer border border-0" aria-expanded="false" title="Eliminar prueba">
								<i class="material-icons vertical-center">close</i>
							</a>
						</div>
					</div>
				</div>
				<div>
					<div class="range-slider">
						<div class="range-slider-value mt-2 pb-2">0</div>
						<input name="calificacion_nota_{{hashids_encode(calificacion.id)}}" class="range-slider-range" type="range" step="0.1" value="{% if calificacion.nota %}{{calificacion.nota}}{% else %}0{% endif %}" min="0" max="10">
					</div>
				</div>
			</div>
		</div>
		{% endwith %}
	{% endfor %}
		{% if not invitado_pruebas_evaluables_sql %}
			<div class="small mb-2">Agregue calificaciones de cada una de sus pruebas evaluables.</div>
		{% endif %}
		<div class="col-sm-12 mb-2 pr-0">
		<button class="btn btn-outline-dark btn-sm float-right pl-0" type="submit" name="selector_button" value="selector_calificacion_add" title="Agregar calificación">
			<i class="material-icons vertical-center">add</i>
			Agregar calificación
		</button>
		</div>
	</div>
<div class="bg-gray text-white px-1 mb-2">
	Observaciones
</div>
<div class="col-sm-12 pt-3 pb-3 pl-1 pr-1">
	<textarea class="form-control vresize" rows="5" name="comentario" id="comentario" placeholder="Escribe las observaciones">{% if informe %}{% if informe.comentario %}{{informe.comentario}}{% endif %}{% endif %}</textarea>
</div>

<div class="col-sm-12">
	<button role="button" type="submit" name="selector_button" value="selector_guardar_calificaciones" class="btn btn-outline-dark" title="Enviar informe">
		<i class="material-icons vertical-center pr-1">save</i>Guardar calificaciones [2/2]
	</button>
</div>
