{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1 %}
	{%from '_macro_highcharts.html' import highcharts_participacion_recent%}
	{{nav_bar_top(current_user=current_user)}}
	<div class="container">
		<div class="paper bg-white padding_3 py-3">
			{{titulo_1(bg_color='bg-dark', titulo='Informes pendientes')}}
			<div class="row small my-2">
				<div class="col-sm-12 col-md-6">
					<span class="text-mutted">Tutor/a:</span>
					{{grupo.tutor_nombre}}
					{{grupo.tutor_apellidos}}
					<br>
					<span class="text-mutted">Grupo:</span>
					{{grupo.nombre}}
				</div>
				<div class="col-sm-12 col-md-6">
					<span class="text-mutted">Docente:</span>
					{{asignatura.nombre}}
					{{asignatura.apellidos}}
					<br>
					<span class="text-mutted">Asignatura:</span>
					{{asignatura.asignatura}}
				</div>
			</div>
			<div class="divider bg-mutted mt-2 mb-3"></div>
			{% for tutoria in params['tutorias_pendites'] %}
				{% with %}
				{% set tutoria_incoming = tutoria_incoming(tutoria.id) %}
				<a href="/informe/{{hashids_encode(asignatura.id)}}/{{hashids_encode(tutoria.id)}}/" class="collapse_header pb-1" title="ver informe">
					{{translate_fecha(tutoria.fecha.strftime('%A') | capitalize)}}
					{{tutoria.fecha.strftime('%d')}}
					[{{tutoria.hora.strftime('%H:%M')}}]
					<span class="text-gray small">
						{{alumno_by_id(tutoria.alumno_id).nombre}}
					</span>
					<span class="badge badge-secondary float-right" title="{{tutoria_incoming['porcentaje']}}% de los informes recibidos">
						{{tutoria_incoming['porcentaje']}}%
					</span>
					<div class="progress rounded-0 mt-1">
						<div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height:5px; width: {{tutoria_incoming['porcentaje']}}%;"></div>
					</div>
				</a>

				{% endwith %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
