{% extends "_layout.html" %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs_disable%}
	{{nav_bar_top(current_user=current_user)}}
	<div class="paper bg-white padding_contenido">
	{{titulo_1(bg_color='bg-dark', titulo='Informe de tutoría')}}
		{% include 'informe_datos_tutoria_block.html' %}
		<form action="/informe/{{hashids_encode(asignatura.id)}}/{{hashids_encode(tutoria.id)}}/" method="POST">
			{% with %}
			{% set settings_by_tutoria_id_sql = settings_by_tutoria_id(tutoria.id) %}
			<ul class="nav nav-tabs my-2" role="tablist">
				<li class="nav-item">
					<a class="nav-link px-2 {% if params['cuestionario_tab'] %}active{% endif %}" data-toggle="tab" href="#cuestionario" role="tab">Cuestionario</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link px-2 {% if informe %}{% if params['notas_tab'] %}active{% endif %}{% else %}disabled link_without_pointer{% endif %}"
						data-toggle="tab"
						href="{% if informe %}#calificaciones{% else %}#{% endif %}"
						role="tab"
						title="{% if not informe %}Finalizar el cuestionario para desbloquear las calificaciones{% endif %}">Calificaciones</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade {% if params['cuestionario_tab'] %}show active{% endif %}" id="cuestionario" role="tabpanel">
					{% include 'informe_cuestionario_block.html' %}
				</div>
				<div class="tab-pane fade {% if params['notas_tab'] %}show active{% endif %}" id="calificaciones" role="tabpanel">
					{% include 'informe_calificaciones_block.html' %}
				</div>
			</div>
			{% endwith %}
			{% if informe %}
				<button role="button" type="submit" name="selector_button" value="selector_enviar_informe" class="btn btn-outline-primary" title="enviar informe">
					<i class="material-icons vertical-center pr-1">send</i>enviar informe
				</button>
			{% endif %}
		</form>
	</div>
{% endblock %}
