{% if informe %}
	{% set invitado_pruebas_evaluables_sql = invitado_pruebas_evaluables(informe.id) %}
{% endif %}
<div class="col-sm-12 bg-dark text-white pl-2 pt-2 pb-2 mb-3">
	Notas
	<button class="btn btn-info btn-sm float-right pt-0 pb-0 pl-0" type="submit" name="selector_button" value="selector_prueba_evaluable_add" title="agergar nota">
		<i class="material-icons vertical-center">add</i>
		agregar nota
	</button>
</div>
<div class="row">
	{% if not invitado_pruebas_evaluables_sql %}
		<div class="col-sm-12 mb-3 ml-2">
			<span class="small">Agregue las notas de pruebas evaluables.</span>
			<br>
			<span class="small">Es aconsejable indicar el nombre de cada prueba.</span>
		</div>
	{% endif %}
	{% for prueba_evaluable in invitado_pruebas_evaluables_sql%}
		{% with %}
		{% set invitado_pruebas_evaluables_sql_count = invitado_pruebas_evaluables_sql | count %}
		<div class="col-sm-12 {% if invitado_pruebas_evaluables_sql_count > 1 %} col-md-6 {% if invitado_pruebas_evaluables_sql_count > 2 %} col-lg-4 {% endif %} {% endif %} mb-2">
			<a id="anchor_pru_eva_{{hashids_encode(prueba_evaluable.id)}}"></a>
			<div class="card border-gray z-depth-1-1-less mb-2">
				<div class="card-header p-1">
					<div class="input-group">
						<span class="input-group-addon bg-light border border-0">
							<i class="material-icons vertical-center">edit</i>
						</span>
						<input
							type="text"
							class="form-control bg-light border border-0 pl-0"
							name="prueba_evaluable_nombre_{{hashids_encode(prueba_evaluable.id)}}"
							value="{% if prueba_evaluable.nombre %}{{prueba_evaluable.nombre}}{% endif %}"
							placeholder="Prueba evaluable {{loop.index}}">
						<div class="btn-group" role="group" aria-label="...">
							{% include 'informe_prueba_evaluable_delete_confirmar_block.html' %}
							<a data-toggle="collapse" href="#prueba_evaluable_close_{{hashids_encode(prueba_evaluable.id)}}" class="btn btn-outline-dark btn-sm link_without_pointer border border-0" aria-expanded="false" title="Eliminar prueba">
								<i class="material-icons vertical-center">close</i>
							</a>
						</div>
					</div>
				</div>
				<div>
					<div class="range-slider">
						<div class="range-slider-value">0</div>
						<input name="prueba_evaluable_nota_{{hashids_encode(prueba_evaluable.id)}}" class="range-slider-range" type="range" step="0.1"  value="{% if prueba_evaluable.nota %}{{prueba_evaluable.nota}}{% else %}0{% endif %}"  min="0" max="10">
					</div>
				</div>
			</div>
		</div>
		{% endwith %}
	{% endfor %}
</div>
<div class="col-sm-12 bg-dark text-white pl-2 pt-2 pb-2">
	Observaciones
</div>
<div class="col-sm-12 pt-3 pb-3 pl-1 pr-1">
	<textarea class="form-control vresize" rows="5" name="comentario" id="comentario" placeholder="escriba sus observaciones">{% if informe %}{% if informe.comentario %}{{informe.comentario}}{% endif %}{% endif %}</textarea>
</div>
