{% if alumno and asignatura and tutoria %}
	{{titulo_1(bg_color='bg-dark', titulo='Informe de tutoría')}}
	<span class="small text-mutted">Alumno:
	</span><span class="h6">{{alumno.apellidos}},
		{{alumno.nombre}}</span>
	<div class="small">
		<span class="text-mutted">Fecha:</span>
		{{tutoria.fecha.strftime('%A') | capitalize}}
		{{tutoria.fecha.strftime('%d')}}
		{{tutoria.fecha.strftime('%b') | capitalize}}
		[{{tutoria.hora.strftime('%H:%M')}}
		h]
		<br>
		<span class="text-mutted">Grupo:</span>
		{{grupo.nombre}}
		<br>
		<span class="text-mutted">Tutor/a:</span>
		{{grupo.tutor_nombre}}
		{{grupo.tutor_apellidos}}
		<br>
		<span class="text-mutted">Docente:</span>
		{{asignatura.nombre}}
		{{asignatura.apellidos}}
		<br>
		<span class="text-mutted">Asignatura:</span>
		{{asignatura.asignatura}}
	</div>
{% else %}
	<div class="text-warning text-center">
		No disponible el informe de su materia.
		<br>
		Consulte con el tutor/a correspodiente.
	</div>
{% endif %}
