<div class="row">
	<div class="col-sm-12">
		<div class="border border-gray rounded z-depth-1-1-less pt-3 mb-3">
			<div class="form-group col-sm-12">
				<div class="input-group">
					<input type="text" class="form-control" name="prueba_evaluable_nombre" placeholder="nombre prueba evaluable">
					<span class="input-group-addon">nombre</span>
				</div>
			</div>
			<div class="col-sm-12 range-slider">
				<div class="range-slider-value">0</div>
				<input name="prueba_evaluable_nota" class="range-slider-range" type="range" step="0.1" value="0" min="0" max="10">
			</div>
			<div class="btn-group col-auto mb-3" role="group">
				<button class="btn btn-outline-primary btn-sm" type="submit" name="selector_button" value="selector_prueba_evaluable_add" title="agergar prueba evaluable">
					<i class="material-icons vertical-center">save</i>
					agregar prueba
				</button>
			</div>
		</div>
	</div>
</div>
<div class="divider grueso bg-primary mb-3"></div>
