{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1%}
	{{nav_bar_top(current_user=current_user)}}
	<div class="container">
		<div class="paper bg-white padding_contenido">
			{{titulo_1(bg_color='bg-dark', titulo='Informe de '+ params['alumno'], subtitulo=params['grupo'])}}
			<span class="text-mutted">Fecha de la tutoria:
			</span>
			{{params['fecha'].strftime('%A') | capitalize}}
			{{params['fecha'].strftime('%d')}}
			de
			{{params['fecha'].strftime('%B') | capitalize}}&nbsp; | &nbsp;{{params['hora'].strftime('%H:%M')}}
			horas
			<br>
			<span class="text-mutted">Asignatura:
			</span>
			{{params['asignatura']}}
			<br>
			<span class="text-mutted">Docente:
			</span>
			{{params['docente']}}
			<h6></h6>
			<div class="divider bg-mutted"></div>
			<div class="text-center pt-3">
				Gracias por enviar su informe
				<br><br>
				<a class="btn btn-outline-dark" href="/informe/{{hashids_encode(params['current_tutoria_asignatura_id'])}}" role="button">Consultar o editar informe</a>
			</div>
			<br>
		</div>
	</div>
{% endblock %}
