{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top,titulo_1%}
	{{nav_bar_top(link_active='inciar sesión', current_user=current_user)}}
	<div class="container">
		<div class="paper bg-white padding_contenido">
			{{titulo_1(bg_color='bg-dark', titulo='Error interno del servidor')}}
			<div class="padding_contenido text-warning text-center">
				Lo sentimos mucho, error en el servidor.
				<br>
				Intentelo más tarde.
				<br><br>
				<div class="btn-group" role="group" aria-label="...">
					<a class="btn btn-outline-dark btn-sm" href="/alumnos" role="button">ir a inicio</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
