{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top_no_session,field_form, titulo_1%}
	{{ nav_bar_top_no_session() }}
	<div class="container">
		<div class="paper bg-white contenido">
			{{titulo_1(bg_color='bg_black', titulo='Iniciar sesion')}}
			<form action="/login" method="POST">
				{{field_form(user.username, error=True, error_css=True, addon='usuario')}}
				{{field_form(user.password, error=True, error_css=True, addon='password')}}
				<div class="text-center">
					<button role="button" type="submit" class="btn btn-outline-primary" title="iniciar sesion">
						<i class="material-icons vertical-center">account_circle</i>
						iniciar sesion</button>
				</div>
			</form>
			{% if login_fail and not ban %}
				<br>
				<div class="dropdown-divider bg-primary grueso"></div>
				<br>
				<div class="text-center">

					<a href="/user_add" class="btn btn-outline-dark" title="crear nueva cuenta">
						<i class="material-icons vertical-center">person_add</i>
					aun no tengo cuenta
					</a>
				</div>
				<br>
			{% endif %}
			{% if ban %}
				<br>
				<div class="dropdown-divider bg-primary"></div>
				<br>
				<div class="text-center text-primary">
					Su cuenta ha sido suspendida de servicio
					<br>
					Por favor pongase en contacto con nosotros
					<br><br>
					<a href="mailto:mitutoria.email@gmail.com">mitutoria.email@gmail.com</a><br>
				</div>
				<br>
			{% endif %}
		</div>
	</div>
{% endblock %}
