{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top,titulo_1%}
	{{nav_bar_top(link_active='Iniciar sesión', current_user=current_user)}}
	<div class="container">
		<div class="paper bg-white padding_contenido">
			{{titulo_1(bg_color='bg-dark', titulo='Iniciar sesion')}}
			<form action="/login" method="POST">
				<div class="row">
					<div class="form-group col-md-6">
						<div class="input-group">
							<input
								type="text"
								class="form-control {% if request.method=='POST' %} {% if user_login.username.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
								name="{{user_login.username.name}}"
								{% if request.method=='POST' %}
								value="{{user_login.username.data}}"
								{% endif %}
								placeholder="{{user_login.username.label.text}}">
							<span class="input-group-addon {% if request.method=='POST' %} {% if user_login.username.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">usuario</span>
						</div>
					</div>
					<div class="form-group col-md-6">
						<div class="input-group">
							<input
								type="password"
								class="form-control {% if request.method=='POST' %} {% if user_login.password.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
								name="{{user_login.password.name}}"
								{% if request.method=='POST' %}
								value="{{user_login.password.data}}"
								{% endif %}
								placeholder="{{user_login.password.label.text}}">
							<div class="input-group-addon {% if request.method=='POST' %} {% if user_login.password.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">password</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-outline-primary" title="iniciar sesion">
						<i class="material-icons vertical-center">account_circle</i>
						iniciar sesion
					</button>
				</div>
			</form>
			{% if params['login_fail']and not params['ban'] %}
				<br>
				<div class="divider bg-primary grueso"></div>
				<br>
				<div class="text-center">
					<div class="btn-group" role="group" aria-label="...">
						<a href="/user_add" class="btn btn-outline-dark btn-sm" title="crear nueva cuenta">
							<i class="material-icons vertical-center">person_add</i>
							no tengo cuenta
						</a>
						<a href="/password_reset_request" class="btn btn-outline-mutted btn-sm" title="cambiar password">
							no recuerdo password
						</a>
					</div>
				</div>
				<br>
			{% endif %}
			{% if params['ban'] %}
				<br>
				<div class="divider bg-dark"></div>
				<br>
				<div class="text-center text-warning">
					Su cuenta ha sido suspendida de servicio
					<br>
					Por favor pongase en contacto con nosotros
				</div>
				<br>
			{% endif %}
			{% if params['email_validated_fail'] %}
				<br>
				<div class="divider bg-dark"></div>
				<br>
				<div class="text-center text-warning">
					Revise su cuenta de correo.
					<br>
					Debe confirmar su registro.
				</div>
				<br>
			{% endif %}
				{% if params['password_reset'] %}
					<br>
					<div class="divider bg-dark"></div>
					<br>
					<div class="text-center text-success">
						Password actualizado con exito.
						<br>
						Ya puede iniciar sesión.
					</div>
					<br>
				{% endif %}
		</div>
	</div>
{% endblock %}
