{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top,titulo_1%}
	{{nav_bar_top(link_active='Inciar sesión', current_user=current_user)}}
	<div class="container">
		<div class="paper bg-white padding_3 py-3">
			{{titulo_1(bg_color='bg-dark', titulo='Cambiar password')}}
			<form action="{{ url_for('password_reset_html') }}" method="POST">
				<div class="pt-2 pb-3">
					Indique su nuevo password
				</div>
				<!-- <div class="row padding-contenido text-center"> -->
					<div class="form-group">
						<div class="input-group">
							<input
								type="password"
								class="form-control {% if request.method=='POST' %} {% if password_reset.password.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
								name="{{password_reset.password.name}}"
								{% if request.method=='POST' %}
								value="{{password_reset.password.data}}"
								{% endif %}
								placeholder="{{password_reset.password.label.text}}">
							<span class="input-group-addon {% if request.method=='POST' %} {% if password_reset.password.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">nuevo password</span>
						</div>
						<input type="hidden" name="current_user_id" value="{{hashids_encode(params['current_user_id'])}}">
					</div>
				<!-- </div> -->
				<div class="text-center">
					<button type="submit" class="btn btn-outline-dark" title="enviar password">
						<i class="material-icons vertical-center">save</i>
						Guardar nuevo password
					</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
