{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top,titulo_1%}
	{{nav_bar_top(link_active='inciar sesión', current_user=current_user)}}
	<div class="container">
		<div class="paper bg-white padding_contenido">
			{{titulo_1(bg_color='bg-dark', titulo='Cambiar password')}}
			{% if params['user_check'] %}
				<br>
				<div class="text-center">
					Revise su cuenta de correo.
					<br>
					Debe confirmar su cambio de password.
				</div>
				<br>
			{% else %}
				{% if params['email_robinson'] %}
					<div class="text-center">
						Esta cuenta pertence a nuestra lista Robinson.
						<br>
						Pongase en contacto con nosotros para solventar este problema.
					</div>
				{% else %}
					<form action="/password_reset_request" method="POST">
						<div class="pt-2 pb-3">
							Indique su nombre de usuario y cuenta de email, recibirá dicha cuenta de correo la opción de cambiar su password
						</div>
						<div class="row">
							<div class="form-group col-md-6">
								<div class="input-group">
									<input
										type="text"
										class="form-control {% if request.method=='POST' %} {% if password_reset_request.username.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
										name="{{password_reset_request.username.name}}"
										{% if request.method=='POST' %}
										value="{{password_reset_request.username.data}}"
										{% endif %}
										placeholder="{{password_reset_request.username.label.text}}">
									<span class="input-group-addon {% if request.method=='POST' %} {% if password_reset_request.username.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">usuario</span>
								</div>
							</div>
							<div class="form-group col-md-6">
								<div class="input-group">
									<input
										type="email"
										class="form-control {% if request.method=='POST' %} {% if password_reset_request.email.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
										name="{{password_reset_request.email.name}}"
										{% if request.method=='POST' %}
										value="{{password_reset_request.email.data}}"
										{% endif %}
										placeholder="{{password_reset_request.email.label.text}}">
									<div class="input-group-addon {% if request.method=='POST' %} {% if password_reset_request.email.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">email</div>
								</div>
							</div>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-outline-primary" title="enviar password">
								<i class="material-icons vertical-center">email</i>
								enviar password
							</button>
						</div>
					</form>
				{% endif %}
			{% endif %}
		</div>
	</div>
{% endblock %}
