<a id="anchor_pru_eva_add"></a>
<!-- <a data-toggle="collapse" data-parent="#parent_alumno" href="#alumno_add" class="collapse_header_1" aria-expanded="false" title="Agregar prueba evaluable">
	<div class="media">
		<i class="material-icons vertical-center">add</i>
		<div class="media-body">
			agregar prueba evaluable
		</div>
	</div>
</a> -->
<div id="prueba_evaluable_add" class="collapse  {% if params['collapse_prueba_evaluable_add'] %} show {% endif %}">
	<div class="padding_3 pt-3">
		<form action="/informe/{{hashids_encode(current_tutoria_asignatura_id)}}/" method="POST" enctype="multipart/form-data">
			<div class="row">
				{#
					<div class="form-group col-md-6 col-lg-4">
						<div class="input-group">
							<input
								type="text"
								class="form-control {% if request.method=='POST' and params['collapse_alumno_add'] %} {% if alumno_add.nombre.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
								name="{{alumno_add.nombre.name}}"
								value="{% if request.method=='POST' and params['collapse_alumno_add'] %}{{alumno_add.nombre.data}}{% endif %}"
								placeholder="{{alumno_add.nombre.label.text}}">
							<span class="input-group-addon {% if request.method=='POST' and params['collapse_alumno_add'] %} {% if alumno_add.nombre.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">nombre</span>
						</div>
					</div>
					<div class="form-group col-md-6 col-lg-4">
						<div class="input-group">
							<input
								type="text"
								class="form-control {% if request.method=='POST' and params['collapse_alumno_add'] %} {% if alumno_add.apellidos.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
								name="{{alumno_add.apellidos.name}}"
								value="{% if request.method=='POST' and params['collapse_alumno_add'] %}{{alumno_add.apellidos.data}}{% endif %}"
								placeholder="{{alumno_add.apellidos.label.text}}">
							<span class="input-group-addon {% if request.method=='POST' and params['collapse_alumno_add'] %} {% if alumno_add.apellidos.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">apellidos</span>
						</div>
					</div>

				<div class="btn-group col-auto mb-4" role="group">
					{% if params['alumno_importar_link'] %}
						<button class="btn btn-outline-primary btn-sm" type="submit" name="selector_button" value="selector_alumno_importar" title="guardar alumnos">
							<i class="material-icons vertical-center">people</i>
							guardar alumnos
						</button>
						<button class="btn btn-outline-dark btn-sm" type="submit" name="selector_button" value="selector_alumno_importar_cerrar" title="cerrar">
							<i class="material-icons vertical-center">close</i>
						</button>
					{% else %}
						<button class="btn btn-outline-primary btn-sm" type="submit" name="selector_button" value="selector_alumno_add" title="agregar alumno">
							<i class="material-icons vertical-center">person</i>
							agregar
						</button>
						<button class="btn btn-outline-dark btn-sm" type="submit" name="selector_button" value="selector_alumno_importar_link" title="importar Séneca">
							<i class="material-icons vertical-center">people</i>
							importar de Séneca
						</button>
						{% if request.method == "POST" and params['collapse_alumno_add'] %}
							<button class="btn btn-outline-dark btn-sm" type="submit" name="selector_button" value="selector_alumno_add_cerrar" title="cerrar">
								<i class="material-icons vertical-center">close</i>
							</button>
						{% endif %}
					{% endif %}
				</div>
				#}
			</div>
		</form>
	</div>
	<div class="divider grueso bg-primary"></div>
</div>
