{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs %}
	{{ nav_bar_top(link_active='Opciones',params=params, current_user=current_user) }}
	<div class="paper bg-white padding_contenido">
		{{titulo_1(bg_color='bg-dark',titulo='Configuración')}}
		{{nav_tabs(tab_active='Opciones', dic={'Cuestionario':'settings_cuestionario', 'Grupos':'settings_grupos', 'Opciones':'settings_opciones'})}}
		<div class="padding_3">
			<form action="settings_opciones" method="POST">
				<div class="row">
					<div class="col-md-6 col-lg-4">
						{# NOTE elminado el form-group para ajustar mejor #}
						<label class="custom-control custom-checkbox check_box_1">
							<input type="checkbox" class="custom-control-input" name="settings_edit_tutoria_timeout" value="True" {% if settings_user.tutoria_timeout %} checked {% endif %}>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description {% if not settings_user.tutoria_timeout %}text-mutted{% endif %}">Auto archivar tutorias</span>
						</label>
					</div>
					<div class="col-md-6 col-lg-4">
						<label class="custom-control custom-checkbox check_box_1">
							<input type="checkbox" class="custom-control-input" name="settings_edit_show_tutorias_collapse" value="True" {% if settings_user.show_tutorias_collapse %} checked {% endif %}>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description {% if not settings_user.show_tutorias_collapse %}text-mutted{% endif %}">Desplegar tutorias solicitadas</span>
						</label>
					</div>
					{% if settings().role=='admin'%}
						<div class="col-md-6 col-lg-4">
							<label class="custom-control custom-checkbox check_box_1">
								<input type="checkbox" class="custom-control-input" name="settings_edit_calendar" value="True" {% if settings_user.calendar %} checked {% endif %}>
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description {% if not settings_user.calendar %}text-mutted{% endif %}">Agregar eventos a la agenda</span>
							</label>
						</div>
					{% endif %}
				</div>
				<div class="btn-group" role="group" aria-label="...">
					<button type="submit" name="selector_button" value="selector_user_edit" class="btn btn-outline-primary btn-sm" title="guardar cambios">
						<i class="material-icons vertical-center">save</i>
						guardar</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
