{% extends '_layout.html' %}
{% block body %}
<!-- FIXME elimnar este field_form -->
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs, field_form %}
	{{ nav_bar_top(link_active='Grupos',params=params) }}
	<div class='paper bg-white padding_contenido'>
		{{titulo_1(bg_color='bg-primary',titulo='Configuración')}}
		{{nav_tabs(tab_active='Grupos', dic={'Cuestionario':'settings_cuestionario', 'Grupos':'settings_grupos', 'Opciones':'settings_options'})}}
		<div class="card_XXX-group" id="grupo" role="tablist" aria-multiselectable="true">
			<div class="card_XXX">
				{# TODO: grupo_add #}
				<a href="#grupo_add" class="list-group-item-1" data-toggle="collapse" data-parent="#grupo" aria-expanded="true" aria-controls="collapsegrupo_add" title="Agregar grupo">
					&nbsp;
					<i class="material-icons vertical-center">group_add</i>&nbsp; agregar nueva grupo
				</a>
				<div class="collapse {% if params['collapse_grupo_add'] or params['login'] %} show {% endif %}" id="grupo_add">
					<div class="dropdown-divider grueso bg-primary"></div>
					<div class="padding_3">
						<form action="/settings_grupos" method="POST">
							{% with %}
							{% if params['collapse_grupo_add'] %}
								{% set error_css = True %}
							{% else %}
								{% set error_css = False %}
							{% endif %}

							{{field_form(grupo_add.nombre, error=True, error_css=True, addon='nombre')}}
							{{field_form(grupo_add.tutor, error=True, error_css=True, addon='tutor')}}
							{{field_form(grupo_add.centro, error=True, error_css=True, addon='centro')}}
							{{field_form(grupo_add.curso_academico, value=curso())}}

							{% if not params['login'] %}
								<div class="funkyradio funkyradio-success">
									<input type="checkbox" name="grupo_add_grupo_activo" id="grupo_add_grupo_activo" value="True" checked/>
									<label for="grupo_add_grupo_activo">Establecer como actual grupo activo</label>
								</div>
							{% endif %}
							{% endwith %}
							<br>
							<button role="button" type="submit" name="selector_button" value="selector_grupo_add" class="btn btn-outline-primary" title="agregar grupo">
								<i class="material-icons vertical-center">person</i>&nbsp; agregar</button>
						</form>
						<br>
					</div>
					<div class="dropdown-divider grueso bg-primary"></div>
				</div>
				{# TODO: grupos_listado #}
				{% for grupo in grupos %}
					<a id="anchor_gru_{{hashids_encode(grupo.id)}}"></a>
					<a href="#grupo_listado{{hashids_encode(grupo.id)}}" class="list-group-item-1" data-toggle="collapse" data-parent="#grupo" aria-expanded="true" aria-controls="collapse{{hashids_encode(grupo.id)}}" title="{{grupo.tutor}}">
						<span class="btn btn-sm {% if grupo_activo_check(grupo.id) %} btn-outline-primary {% else %} btn-outline-dark{% endif %}" role="button" title="{{grupo.tutor}}" }>
							<strong>
								{{grupo.curso_academico}}
								|
								{{grupo.curso_academico+1}}
							</strong>
						</span>
						<span class="hidden-sm hidden-md hidden-lg">
							&nbsp;
							{{grupo.centro | truncate(20,true,'..',0)}}
							|
							{{grupo.nombre | truncate(20,true,'..',0)}}
						</span>
						<span class="hidden-xs">
							&nbsp;
							{{grupo.centro}}
							|
							{{grupo.nombre}}
						</span>
					</a>
					<div id="grupo_listado{{hashids_encode(grupo.id)}}" class="collapse {% if equal_str(grupo.id, params['current_grupo_id']) and params['collapse_grupo_edit'] %} show {% endif %}" role="tabcard_XXX" aria-labelledby="heading{{hashids_encode(grupo.id)}}">
						<div class="dropdown-divider grueso bg-primary"></div>
						<div class="card_XXX-group" id="grupo{{hashids_encode(grupo.id)}}" role="tablist" aria-multiselectable="true">
							<div class="card_XXX">
								{# XXX: grupo_edit #}
								<div class="padding_3">
									<form action="/settings_grupos" method="POST">
										{% if equal_str(grupo.id, params['current_grupo_id']) and request.method =='POST'%}
											{{field_form(grupo_edit.nombre, error=True, error_css=True, addon='nombre')}}
											{{field_form(grupo_edit.tutor, error=True, error_css=True, addon='tutor')}}
											{{field_form(grupo_edit.centro, error=True, error_css=True, addon='centro')}}
											{{field_form(grupo_edit.current_grupo_id)}}
											<div class="funkyradio funkyradio-success">
												<input type="checkbox" name="grupo_edit_grupo_activo_switch" id="grupo_edit_grupo_activo_switch{{hashids_encode(grupo.id)}}" value="True" {% if grupo_activo_check(grupo.id) %} checked {% endif %}/>
												<label for="grupo_edit_grupo_activo_switch{{hashids_encode(grupo.id)}}">Establecer como grupo activo</label>
											</div>
											{%else%}
											{{field_form(grupo_edit.nombre, value=grupo.nombre, addon='nombre')}}
											{{field_form(grupo_edit.tutor, value=grupo.tutor, addon='tutor')}}
											{{field_form(grupo_edit.centro, value=grupo.centro, addon='centro')}}
											{{field_form(grupo_edit.current_grupo_id, value=hashids_encode(grupo.id))}}
											<div class="funkyradio funkyradio-success">
												<input type="checkbox" name="grupo_edit_grupo_activo_switch" id="grupo_edit_grupo_activo_switch{{hashids_encode(grupo.id)}}" value="True" {% if grupo_activo_check(grupo.id) %} checked {% endif %}/>
												<label for="grupo_edit_grupo_activo_switch{{hashids_encode(grupo.id)}}">Establecer como grupo activo</label>
											</div>
										{% endif %}
										<br>
										{% if params['grupo_delete_link'] %}
											<div class="btn-group" role="group" aria-label="...">
												<button role="button" type="submit" name="selector_button" value="selector_grupo_delete" class="btn btn-outline-primary btn-sm" title="confirmar eliminar asginatura">
													<i class="material-icons vertical-center">delete</i>
													confirmar eliminar</button>
												<button role="button" type="submit" name="selector_button" value="selector_grupo_delete_close" class="btn btn-outline-dark" title="cancelar eliminar">
													<i class="material-icons vertical-center">close</i>
												</button>
											</div>
											<div class="clearfix"></div>
											<br>
											<span class="text-warning">
												Si elimina un grupo se borrarán todos sus alumnos, equipo educativo y estadísticas correspondientes.</span>
										{% else %}
											<div class="btn-group" role="group" aria-label.="...">
												<button role="button" type="submit" name="selector_button" value="selector_grupo_edit" class="btn btn-outline-primary" title="guardar cambios">
													<i class="material-icons vertical-center">save</i>
													guardar</button>
												<button role="button" type="submit" name="selector_button" value="selector_grupo_edit_rollback" class="btn btn-outline-dark" title="deshacer cambios">
													<i class="material-icons vertical-center">settings_backup_restore</i>
												</button>
												<button role="button" type="submit" name="selector_button" value="selector_grupo_delete_link" class="btn btn-outline-dark" title="eliminar grupo">
													<i class="material-icons vertical-center">delete</i>
												</button>
												{% if params['collapse_grupo_edit'] %}
													<button role="button" type="submit" name="selector_button" value="selector_grupo_edit_close" class="btn btn-outline-dark" title="cerrar">
														<i class="material-icons vertical-center">close</i>
													</button>
												{% endif %}
											</div>
										{% endif %}
									</form>
									<br>
								</div>
							</div>
						</div>
						<div class="dropdown-divider grueso bg-primary"></div>
					</div>
				{% endfor %}
				<br>
			</div>
		{% endblock %}
