<a id="anchor_gru_add"></a>
<div class="d-flex flex-row-reverse">
	{{nav_tabs_add(url='grupos',data_parent='parent_grupo',href='grupo_add',icon='group_add', title='grupo', count=grupos|count|string)}}
</div>
<div id="grupo_add" class="collapse {% if params['collapse_grupo_add'] or params['login'] %} show {% endif %}">
	<div class="border border-gray rounded-bottom z-depth-1-1-less">
		<div class="card-body p-2">
			<form action="/settings_grupos" method="POST">
				<div class="row">
					<div class="form-group col-md-6 mb-3">
						<div class="input-group">
							<input
								type="text"
								class="form-control {% if request.method=='POST' and params['collapse_grupo_add'] %} {% if grupo_add.nombre.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
								name="{{grupo_add.nombre.name}}"
								{% if request.method=='POST' %}
								value="{% if request.method=='POST' and params['collapse_grupo_add'] %}{{grupo_add.nombre.data}}{% endif %}"
								{% endif %}
								placeholder="{{grupo_add.nombre.label.text}}">
							<span class="input-group-addon {% if request.method=='POST' and params['collapse_grupo_add'] %} {% if grupo_add.nombre.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">grupo</span>
						</div>
					</div>
					<div class="form-group col-md-6 mb-3">
						<div class="input-group">
							<input
								type="text"
								class="form-control {% if request.method=='POST' and params['collapse_grupo_add'] %} {% if grupo_add.centro.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
								name="{{grupo_add.centro.name}}"
								{% if request.method=='POST' %}
								value="{% if request.method=='POST' and params['collapse_grupo_add'] %}{{grupo_add.centro.data}}{% endif %}"
								{% endif %}
								placeholder="{{grupo_add.centro.label.text}}">
							<span class="input-group-addon {% if request.method=='POST' and params['collapse_grupo_add'] %} {% if grupo_add.centro.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{grupo_add.centro.label.text}}</span>
						</div>
					</div>
					<div class="form-group col-md-6 mb-3">
						<div class="input-group">
							<input
								type="text"
								class="form-control {% if request.method=='POST' and params['collapse_grupo_add'] %} {% if grupo_add.tutor_nombre.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
								name="{{grupo_add.tutor_nombre.name}}"
								{% if request.method=='POST' %}
								value="{% if request.method=='POST' and params['collapse_grupo_add'] %}{{grupo_add.tutor_nombre.data}}{% endif %}"
								{% endif %}
								placeholder="{{grupo_add.tutor_nombre.label.text}}">
							<span class="input-group-addon {% if request.method=='POST' and params['collapse_grupo_add'] %} {% if grupo_add.tutor_nombre.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{grupo_add.tutor_nombre.label.text}}</span>
						</div>
					</div>
					<div class="form-group col-md-6 mb-3">
						<div class="input-group">
							<input
								type="text"
								class="form-control {% if request.method=='POST' and params['collapse_grupo_add'] %} {% if grupo_add.tutor_apellidos.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
								name="{{grupo_add.tutor_apellidos.name}}"
								{% if request.method=='POST' %}
								value="{% if request.method=='POST' and params['collapse_grupo_add'] %}{{grupo_add.tutor_apellidos.data}}{% endif %}"
								{% endif %}
								placeholder="{{grupo_add.tutor_apellidos.label.text}}">
							<span class="input-group-addon {% if request.method=='POST' and params['collapse_grupo_add'] %} {% if grupo_add.tutor_apellidos.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{grupo_add.tutor_apellidos.label.text}}</span>
						</div>
					</div>
					<input type="hidden" name="curso_academico" value="{{curso()}}">
					{% if not params['login'] %}
						<div class="form-group col-md-6 mb-3">
							<label class="custom-control custom-checkbox check_box_1">
								<input type="checkbox" class="custom-control-input" name="grupo_add_grupo_activo" value="True" checked="checked">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Establecer como actual grupo activo</span>
							</label>
						</div>
					{% endif %}
				</div>
				<div class="btn-group" role="group">
					<div class="btn-group" role="group">
						<button role="button" type="submit" name="selector_button" value="selector_grupo_add" class="btn btn-outline-dark btn-sm" title="Guardar asignatura">
							<span class="material-icons vertical-center">save</span> Guadar
						</button>
						{% if params['collapse_grupo_add'] %}
							<button role="button" type="submit" name="selector_button" value="selector_grupo_add_cerrar" class="btn btn-outline-dark btn-sm" title="Cerrar">
								<i class="material-icons vertical-center">close</i>
							</button>
						{% endif %}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
