{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs, checkbox_funky %}
	{{ nav_bar_top(link_active='Opciones',params=params) }}
	<div class="paper bg-white contenido">
		{{titulo_1(bg_color='bg-primary', titulo='Configuración')}}
		{{nav_tabs(tab_active='Cuestionario', dic={'Cuestionario':'#', 'Grupos':'settings_grupos', 'Opciones':'settings_options'})}}
		Selecciona las preguntas que desee que formen su cuestionario.
		<br><br>
		<form action="settings_cuestionario" method="POST">
			{% if preguntas(True) %}
				{% for pregunta in preguntas(True) %}
					{{checkbox_funky(settings(), pregunta, 'pregunta', 'pregunta_edit')}}
					<div class="dropdown-divider bg-info">
						<br>
					</div>
				{% endfor %}
				<br>
				<button role="button" type="submit" name="selector_button" value="selector_settings_cuestionario" class="btn btn-primary" title="guardar cambios">
					<i class="material-icons vertical-center">save</i>
					guardar</button>
				<br>
			{% else %}
				<span class="text-info">En estos momentos no hay preguntas disponibles.</span>
				<br>
			{% endif %}
		</form>
		<br>
	</div>
{% endblock %}
