{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs %}
	{{ nav_bar_top(link_active='Opciones',params=params) }}
	<div class='paper bg-white padding_contenido'>
		{{titulo_1(bg_color='bg-dark',titulo='Configuración')}}
		{{nav_tabs(tab_active='Grupos', dic={'Cuestionario':'settings_cuestionario', 'Grupos':'settings_grupos', 'Opciones':'settings_options'})}}
		<div id="parent_grupo">
			<div>
				{# TODO: grupo_add #}
				{% include 'settings_grupos_add_block.html' %}
			</div>
			<div>
				{# TODO: grupos_listado #}
				{% for grupo in grupos %}
					{% include 'settings_grupos_grupo_block.html' %}
				{% endfor %}
			</div>
			<br>
		</div>
	</div>
{% endblock %}
