{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs %}
	{{ nav_bar_top(link_active='opciones',params=params, current_user=current_user) }}
	<div class="paper bg-white padding_3 py-3">
		{{titulo_1(bg_color='bg-dark', titulo='Opciones')}}
		{{nav_tabs(tab_active='Cuestionario', dic={'Cuestionario':'settings_cuestionario', 'Grupos':'settings_grupos', 'Opciones':'settings_opciones'})}}
		<div class="padding_3">
			<div class="pb-1">
				Selecciona las preguntas que desee que formen su cuestionario.
			</div>
			<form action="settings_cuestionario" method="POST">
				{% if preguntas(visible=True) %}
					{% for categoria in categorias() %}
						{% with %}
						{% set preguntas_by_categoria_id = preguntas_by_categoria_id(categoria.id, visible=True) %}
						{% if preguntas_by_categoria_id %}
							<div class="bg-dark text-white px-2 py-0 mt-3">
								{{categoria.enunciado}}
							</div>
							{% for pregunta in preguntas_by_categoria_id %}
								{% with %}
								{% set association_settings_pregunta_check = association_settings_pregunta_check(g.settings_current_user.id, pregunta.id) %}
								{# NOTE elminado el form-group para ajustar mejor #}
								<label class="custom-control custom-checkbox check_box_1 {% if loop.first %} mt-1 {% else %} mt-0 {% endif %} {% if loop.last %}mb-1{% else %} mb-0{% endif %}">
									<input type="checkbox" class="custom-control-input" name="pregunta" value="{{hashids_encode(pregunta.id)}}" {% if association_settings_pregunta_check %} checked="checked" {% endif %}>
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description {% if not association_settings_pregunta_check %} text-muted {% endif %}" {% if association_settings_pregunta_check %} style="color:{{categoria.color}};" {% endif %}>{{pregunta.enunciado}}{% if pregunta.descripcion %}<br><span class="small text-gray">{{pregunta.descripcion}}</span>{% endif %}</span>
								</label>
								{% endwith %}
							{% endfor %}
						{% endif %}
						{% endwith %}
					{% endfor %}
					<button role="button" type="submit" name="selector_button" value="selector_settings_cuestionario" class="btn btn-outline-dark btn-sm mt-3" title="Guardar cambios">
						<i class="material-icons vertical-center">save</i>
						Guardar
					</button>
				{% else %}
					<div class="text-mutted pb-4">
						En estos momentos no hay preguntas disponibles.
					</div>
				{% endif %}
			</form>
		</div>
	</div>
{% endblock %}
