{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs,%}
	{{ nav_bar_top(link_active='Admin',params=params) }}
	<div class="paper bg-white padding_contenido">
		{{titulo_1(bg_color='bg-primary',titulo='Admin Settings')}}
		{{nav_tabs(tab_active='Cuestionario', dic={'Cuestionario':'settings_admin_cuestionario', 'Citas':'settings_admin_citas', 'Usuarios':'settings_admin_users'})}}
		<div id="parent_pregunta">
			<a id="anchor_pre_add"></a>
			<div>
				{# XXX: pregunta_add #}
				{% include 'settings_admin_cuestionario_add_block.html' %}
			</div>
			<div>
				{# XXX: preguntas_listado #}
				{% for pregunta in preguntas %}
					<!-- *********************************** -->
					<a id="anchor_pre_{{hashids_encode(pregunta.id)}}"></a>
					<a data-toggle="collapse" data-parent="#parent_pregunta" href="#pregunta_{{hashids_encode(pregunta.id)}}" class="collapse_header_1" aria-expanded="false" title="{{pregunta.apellidos}}, {{pregunta.nombre}}">
						<div class="media">
							<span class="capital {% if pregunta.visible %}capital-mutted{% else %}capital-warning{% endif %}">{{pregunta.orden}}</span>
							<div class="media-body">
								<div class="padding_2">
									{{pregunta.enunciado}}
									{# NOTE badge #}
									{% if pregunta.active_default %}
										<span class="badge badge-info float-right" title="activa por defecto">
											default
										</span>
									{% endif %}
								</div>
							</div>
						</div>
					</a>
					<div id="pregunta_{{hashids_encode(pregunta.id)}}" class="collapse {% if equal_str(pregunta.id, params['current_pregunta_id']) and params['collapse_pregunta'] %} show {% endif %}">
						<div class="padding_3">
							<form action="/settings_admin_cuestionario" method="POST">
								{% if equal_str(pregunta.id, params['current_pregunta_id'])and params['pregunta_delete_link'] %}
									<div class="btn-group" role="group" aria-label="...">
										<button role="button" type="submit" name="selector_button" value="selector_pregunta_delete" class="btn btn-outline-primary btn-sm" title="confirmar eliminar asginatura">
											<i class="material-icons vertical-center">delete</i>
											confirmar eliminar
										</button>
										<button role="button" type="submit" name="selector_button" value="selector_pregunta_delete_close" class="btn btn-outline-dark" title="cancelar eliminar">
											<i class="material-icons vertical-center">close</i>
										</button>
									</div>
									<div class="clearfix"></div>
									<br>
									<span class="text-warning small">
										Una vez elminada no podra ser recuperada.
									</span>
								{% else %}
									<div class="btn-group" role="group" aria-label="...">
										<button role="button" type="submit" name="selector_button" value="selector_pregunta_edit" class="btn btn-outline-primary" title="guardar cambios">
											<i class="material-icons vertical-center">save</i>
											guardar
										</button>
										<button role="button" type="submit" name="selector_button" value="selector_pregunta_edit_rollback" class="btn btn-outline-dark" title="deshacer cambios">
											<i class="material-icons vertical-center">settings_backup_restore</i>
										</button>
										<button role="button" type="submit" name="selector_button" value="selector_pregunta_delete_link" class="btn btn-outline-dark" title="eliminar pregunta">
											<i class="material-icons vertical-center">delete</i>
										</button>
										{% if params['collapse_pregunta_edit'] %}
											<button role="button" type="submit" name="selector_button" value="selector_pregunta_edit_close" class="btn btn-outline-dark" title="cerrar">
												<i class="material-icons vertical-center">close</i>
											</button>
										{% endif %}
									</div>
								{% endif %}
							</form>
						</div>
					</div>
					<!-- *********************************** -->
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
