{% with %}
{% set grupo_alumnos_count_sql = grupo_alumnos_count(grupo.id)%}
<a id="anchor_gru_{{hashids_encode(grupo.id)}}"></a>
<a data-toggle="collapse" class="collapse_header_padding border_bottom" data-parent="#parent_grupo" href="#grupo_listado{{hashids_encode(grupo.id)}}" aria-expanded="true" title="{{grupo.nombre}}">
	<div class="media">
		<span class="curso_academico {% if grupo_activo_check(grupo.id) %} curso_academico-primary {% else %} curso_academico-mutted {% endif %}">{{grupo.curso_academico}}
			{{grupo.curso_academico+1}}</span>
		<div class="media-body">
			<div class="padding_l_2">
				{{grupo.nombre}}
				<span class="badge float-right {% if grupo_alumnos_count_sql %}{% if grupo_activo_check(grupo.id) %} badge-gray border border-dark {% else %} badge-mutted border border-dark {% endif %}{% else %}badge-warning text-white{% endif %}" title="{{grupo_alumnos_count_sql}} {{singular_plural('alumno','alumnos', grupo_alumnos_count_sql)}}">
					{% if grupo_alumnos_count_sql %}
						{{grupo_alumnos_count_sql}}
						{{singular_plural('alumno', 'alumnos', grupo_alumnos_count_sql)}}
					{% else %}
						sin alumnos
					{% endif %}
				</span>
			</div>
		</div>
	</div>
</a>
<div id="grupo_listado{{hashids_encode(grupo.id)}}" class="collapse {% if equal_str(grupo.id, params['current_grupo_id']) and params['collapse_grupo_edit'] %} show {% endif %}" role="tab">
	{# XXX: grupo_edit #}
	<div class="border border-gray rounded z-depth-1-1-less mt-2">
		<div class="card-body p-2">
		<form action="{{ url_for('settings_grupos_html') }}" method="POST">
			<div class="row">
				<div class="form-group col-md-6 mb-3">
					<div class="input-group">
						<input
							type="text"
							{% if not equal_str(grupo.id, params['current_grupo_id']) or not params['grupo_edit_link'] %}
							readonly
							{% endif %}
							class="form-control {% if request.method=='POST' and params['collpase_grupo_edit'] %} {% if grupo_edit.nombre.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
							name="{{grupo_edit.nombre.name}}"
							value="{% if equal_str(grupo.id,params['current_grupo_id']) and request.method=='POST' and params['collpase_grupo_edit'] %}{{grupo_edit.nombre.data}}{% else %}{{grupo.nombre}}{% endif %}"
							placeholder="{{grupo_edit.nombre.label.text}}">
						<span class="input-group-addon {% if request.method=='POST' and params['collpase_grupo_edit'] %} {% if grupo_edit.nombre.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{grupo_edit.nombre.label.text}}</span>
					</div>
				</div>
				<div class="form-group col-md-6 mb-3">
					<div class="input-group">
						<input
							type="text"
							{% if not equal_str(grupo.id, params['current_grupo_id']) or not params['grupo_edit_link'] %}
							readonly
							{% endif %}
							class="form-control {% if request.method=='POST' and params['collpase_grupo_edit'] %} {% if grupo_edit.centro.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
							name="{{grupo_edit.centro.name}}"
							value="{% if equal_str(grupo.id,params['current_grupo_id']) and request.method=='POST' and params['collpase_grupo_edit'] %}{{grupo_edit.centro.data}}{% else %}{{grupo.centro}}{% endif %}"
							placeholder="{{grupo_edit.centro.label.text}}">
						<span class="input-group-addon {% if request.method=='POST' and params['collpase_grupo_edit'] %} {% if grupo_edit.centro.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{grupo_edit.centro.label.text}}</span>
					</div>
				</div>
				<div class="form-group col-md-6 mb-3">
					<div class="input-group">
						<input
							type="text"
							{% if not equal_str(grupo.id, params['current_grupo_id']) or not params['grupo_edit_link'] %}
							readonly
							{% endif %}
							class="form-control {% if request.method=='POST' and params['collpase_grupo_edit'] %} {% if grupo_edit.tutor_nombre.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
							name="{{grupo_edit.tutor_nombre.name}}"
							value="{% if equal_str(grupo.id,params['current_grupo_id']) and request.method=='POST' and params['collpase_grupo_edit'] %}{{grupo_edit.tutor_nombre.data}}{% else %}{{grupo.tutor_nombre}}{% endif %}"
							placeholder="{{grupo_edit.tutor_nombre.label.text}}">
						<span class="input-group-addon {% if request.method=='POST' and params['collpase_grupo_edit'] %} {% if grupo_edit.tutor_nombre.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{grupo_edit.tutor_nombre.label.text}}</span>
					</div>
				</div>
				<div class="form-group col-md-6 mb-3">
					<div class="input-group">
						<input
							type="text"
							{% if not equal_str(grupo.id, params['current_grupo_id']) or not params['grupo_edit_link'] %}
							readonly
							{% endif %}
							class="form-control {% if request.method=='POST' and params['collpase_grupo_edit'] %} {% if grupo_edit.tutor_apellidos.errors %} is-invalid {% else %} is-valid {% endif %}{% endif %}"
							name="{{grupo_edit.tutor_apellidos.name}}"
							value="{% if equal_str(grupo.id,params['current_grupo_id']) and request.method=='POST' and params['collpase_grupo_edit'] %}{{grupo_edit.tutor_apellidos.data}}{% else %}{{grupo.tutor_apellidos}}{% endif %}"
							placeholder="{{grupo_edit.tutor_apellidos.label.text}}">
						<span class="input-group-addon {% if request.method=='POST' and params['collpase_grupo_edit'] %} {% if grupo_edit.tutor_apellidos.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">{{grupo_edit.tutor_apellidos.label.text}}</span>
					</div>
				</div>

				<input type="hidden" name="curso_academico" value="{{curso()}}">
				{% if not params['login'] %}
					<div class="form-group col-md-6 mb-3">
						<label class="custom-control custom-checkbox check_box_1">
							<input
								type="checkbox"
								{% if not equal_str(grupo.id, params['current_grupo_id']) or not params['grupo_edit_link'] %}
								disabled
								{% endif %}
								class="custom-control-input"
								name="grupo_edit_grupo_activo_switch"
								value="True"
								{% if equal_str(grupo.id, g.settings_current_user.grupo_activo_id) %}
								checked
								{% endif %}>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Establecer como actual grupo activo</span>
						</label>
					</div>
				{% endif %}
				<input type="hidden" name="current_grupo_id" value="{{hashids_encode(grupo.id)}}">
			</div>
			{% if equal_str(grupo.id, params['current_grupo_id']) and params['grupo_edit_link'] %}
					<div class="btn-group" role="group">
						<button role="button" type="submit" name="selector_button" value="selector_grupo_edit" class="btn btn-outline-dark btn-sm" title="Guardar cambios">
							<i class="material-icons vertical-center">save</i>
							Guardar
						</button>
						<a data-toggle="collapse" href="#grupo_delete_confirmar_{{hashids_encode(grupo.id)}}" class="btn btn-outline-dark btn-sm link_without_pointer" aria-expanded="false" title="Eliminar grupo">
							<i class="material-icons vertical-center">delete</i>
						</a>
						{% include 'settings_grupos_delete_confirmar_block.html' %}
						<button role="button" type="submit" name="selector_button" value="selector_grupo_edit_close" class="btn btn-outline-dark btn-sm" title="Cerrar edición">
							<i class="material-icons vertical-center">close</i>
						</button>
					</div>
			{% else %}
			<div class="d-flex flex-row-reverse">
				<div class="btn-group" role="group">
					<button role="button" type="submit" name="selector_button" class="btn btn-outline-dark btn-sm" value="selector_grupo_edit_link" title="Editar grupo">
						<i class="material-icons vertical-center">edit</i>
						Editar grupo
					</button>
				</div>
			</div>
			{% endif %}
		</form>
		</div>
	</div>
</div>
{% endwith %}
