{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs %}
	{{ nav_bar_top(link_active='opciones',params=params, current_user=current_user) }}
	<div class="paper bg-white padding_contenido">
		{{titulo_1(bg_color='bg-dark',titulo='Opciones')}}
		{{nav_tabs(tab_active='Opciones', dic={'Cuestionario':'settings_cuestionario', 'Grupos':'settings_grupos', 'Opciones':'settings_opciones'})}}
		<div class="padding_3">
			<form action="/settings_opciones" method="POST">
				<div class="row">
					<div class="col-md-6 col-lg-4">
						<label class="custom-control custom-checkbox check_box_1">
							{# NOTE elminado el form-group para ajustar mejor #}
							<input type="checkbox" class="custom-control-input" name="settings_edit_calendar" value="True" {% if settings().calendar %} checked {% endif %}>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description {% if not settings().calendar %}text-mutted{% endif %}">Agregar eventos a la agenda</span>
						</label>
					</div>
					<div class="col-md-6 col-lg-4">
						{# NOTE elminado el form-group para ajustar mejor #}
						<label class="custom-control custom-checkbox check_box_1">
							<input type="checkbox" class="custom-control-input" name="settings_edit_tutoria_timeout" value="True" {% if settings().tutoria_timeout %} checked {% endif %}>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description {% if not settings().tutoria_timeout %}text-mutted{% endif %}">Auto archivar tutorias</span>
						</label>
					</div>
					<div class="col-md-6 col-lg-4">
						{# NOTE elminado el form-group para ajustar mejor #}
						<label class="custom-control custom-checkbox check_box_1">
							<input type="checkbox" class="custom-control-input" name="settings_show_asignaturas_analisis" value="True" {% if settings().show_asignaturas_analisis %} checked {% endif %}>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description {% if not settings().show_asignaturas_analisis %}text-mutted{% endif %}">Mostrar evolución equipo educativo</span>
						</label>
					</div>
					<div class="form-group col-md-12">
						<div class="range-slider text-center">
							<div class="range-slider-value">0</div>
							diferencial
							<input name="settings_diferencial" class="range-slider-range" type="range" step="1" value="{{settings().diferencial}}" min="0" max="100">
							<span class="text-muted small">
								Indica el porcentage de diferencias al que se activan las alertas al analizar los datos de cada asignatura. A menor numero, mayor sensibilidad en las alertas (consejable entre 20 y 40).
							</span>
						</div>
					</div>
				</div>
				<div class="btn-group" role="group" aria-label="...">
					<button type="submit" name="selector_button" value="selector_settings_edit" class="btn btn-outline-primary btn-sm" title="guardar cambios">
						<i class="material-icons vertical-center">save</i>
						guardar</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
