{% extends "_layout.html" %}
{% block body %}
	{% from "_macro.html" import nav_bar_top,titulo_1 %}
	{{ nav_bar_top(link_active='alumnos',params=params, current_user=current_user) }}
	<div class="paper bg-white p-3">
		<form action="/pagina_1" method="POST" enctype="multipart/form-data">
			<div class="row">
				<div class="form-group col-md-6 col-lg-4">
					<div class="input-group">
						<input
							type="text"
							class="form-control {% if request.method=='POST'%} {% if alumno_add.nombre.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
							name="{{alumno_add.nombre.name}}"
							value="{% if request.method=='POST'%}{{alumno_add.nombre.data}}{% endif %}"
							placeholder="{{alumno_add.nombre.label.text}}">
						<span class="input-group-addon {% if request.method=='POST'%} {% if alumno_add.nombre.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">nombre</span>
					</div>
				</div>
				<div class="form-group col-md-6 col-lg-4">
					<div class="input-group">
						<input
							type="text"
							class="form-control {% if request.method=='POST' %} {% if alumno_add.apellidos.errors %} is-invalid {% else %} is-valid {% endif %} {% endif %}"
							name="{{alumno_add.apellidos.name}}"
							value="{% if request.method=='POST'%}{{alumno_add.apellidos.data}}{% endif %}"
							placeholder="{{alumno_add.apellidos.label.text}}">
						<span class="input-group-addon {% if request.method=='POST'%} {% if alumno_add.apellidos.errors %} form_addon-warning {% else %} form_addon-success {% endif %} {% endif %}">apellidos</span>
					</div>
				</div>
				<div class="btn-group col-auto mb-4" role="group">
					<button class="btn btn-outline-primary btn-sm" type="submit" name="selector_button" value="selector_alumno_add" title="agregar alumno">
						<i class="material-icons vertical-center">person</i>
						agregar
					</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
