{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import field_form, titulo_1%}
	<div class="paper bg-white contenido">
		{{titulo_1(bg_color='bg-primary', titulo='Tutoría no existe ')}}
		<div class="contenido_3 text-warning text-center">
			Esta tutoría no existe.
			<br><br>
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-outline-dark" href="/alumnos" role="button">regresar al listado de alumnos</a>
			</div>
		</div>
		<br>
	</div>
	<br><br>
{% endblock %}
