{% with %}
{% set tutorias_by_grupo_id_incoming = tutorias_by_grupo_id(grupo_activo().id, activa=True, deleted=False) %}
{% set tutorias_by_grupo_id_incoming_count = tutorias_by_grupo_id_incoming | count %}
<a data-toggle="collapse" class="collpase-header-secondary" role="tab" data-parent="#parent_tutorias_incoming" href="#collapse_tutorias_incoming" aria-expanded="false">
	{% if tutorias_by_grupo_id_incoming %}
	<i class="material-icons vertical-center">notifications_active</i>
			{{singular_plural("Tutoría", "Tutorías", tutorias_by_grupo_id_incoming_count)}}
			{{singular_plural("solicitada", "solicitadas", tutorias_by_grupo_id_incoming_count)}}
		{% else %}
		<i class="material-icons vertical-center">notifications_paused</i>Relax, no tienes tutorias
	{% endif %}
	<span class="badge badge-light text-secondary float-right mt-1" title="tutorias pendientes">
		{{tutorias_by_grupo_id_incoming_count}} {{singular_plural("tutoria", "tutorias", tutorias_by_grupo_id_incoming_count)}}
	</span>
</a>
<div id="collapse_tutorias_incoming" class="collapse {% if tutorias_by_grupo_id_incoming %} show {% endif %}">
	{% if tutorias_by_grupo_id_incoming %}
		<div class="m-0 p-0">
			<div class="padding_contenido pt-2">
				{% for tutoria in tutorias_by_grupo_id_incoming %}
					{% with %}
					{% set tutoria_incoming_stats = tutoria_incoming(tutoria.id) %}
					<a href="/analisis/{{dic_encode_args({'current_tutoria_id': tutoria.id})}}" class="collapse_header_2 pb-1" title="Ver informes">
						{{translate_fecha(tutoria.fecha.strftime('%A') | capitalize)}}
						{{tutoria.fecha.strftime('%d')}}
						[{{tutoria.hora.strftime('%H:%M')}}]

						<span class="text-gray small">
						{{alumno_by_id(tutoria.alumno_id).nombre}}
						</span>
						<span class="badge badge-secondary float-right" title="{{tutoria_incoming_stats['porcentaje']}}% de los informes recibidos">
							{{tutoria_incoming_stats['porcentaje']}}%
						</span>
						<div class="progress rounded-0 mt-1">
							<div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height:5px; width: {{tutoria_incoming_stats['porcentaje']}}%;"></div>
						</div>
					</a>
					{% endwith %}
				{% endfor %}
			</div>
		</div>
	{% else %}
		<div class="padding_contenido text-mutted">
			{% if cita_random() %}
				"{{cita_random().frase}}"
				<span class="text-info">
					-
					{{cita_random().autor}}
				</span>
			{% endif %}
		</div>
	{% endif %}
</div>
{% endwith %}
