{% extends "_layout.html" %}
{% block body %}
	{% with %}
	{% set grupo_activo_sql = grupo_activo()%}
	{% from "_macro.html" import nav_bar_top,
	titulo_1 %}
	{{ nav_bar_top(link_active='tutorias',params=params, current_user=current_user) }}
	<div class="paper bg-white mb-3">
		{% include 'tutorias_solicitar_block.html' %}
	</div>
	<div class="paper bg-white mb-3">
		{% include 'tutorias_solicitadas_block.html' %}
	</div>
	<div class="paper bg-white mb-3">
		{% include 'tutorias_historial_block.html' %}
	</div>
	{% with %}
	{% set tutorias_by_grupo_id_deleted = tutorias_by_grupo_id(grupo_activo_sql.id, deleted = True) %}
	{% set tutorias_by_grupo_id_deleted_count = tutorias_by_grupo_id_deleted | count %}
	{% if tutorias_by_grupo_id_deleted %}
		<div class="paper bg-white mb-3">
			{% include 'tutorias_papelera_block.html' %}
		</div>
	{% endif %}
	{% endwith %}
	{% endwith %}
{% endblock %}
