{% with %}
{% set tutorias_by_grupo_id_incoming = tutorias_by_grupo_id(grupo_activo().id, activa = True, deleted = False) %}
{% if tutorias_by_grupo_id_incoming %}
	<div class="mt-2 mb-3">
		{% for tutoria in tutorias_by_grupo_id_incoming %}
			{% include 'tutoria_link_block.html' %}
		{% endfor %}
	</div>
{% else %}
<div class="text-secondary text-justify px-2 mt-2">
	<i class="material-icons vertical-center ">wb_sunny</i> Relax, no tienes tutorías.
</div>
	{% include 'cita_block.html' %}
{% endif %}
{% endwith %}
