{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import field_form, titulo_1%}
	<div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-4 col-sm-offset-4">
		<div class="paper bg-white contenido">
			{{titulo_1(url='user_add', bg_color='bg-primary',titulo='Crear nueva cuenta')}}
			<form action="user_add" method="POST">
				{{field_form(user_add.username, error=True, error_css=True, addon='usuario')}}
				{{field_form(user_add.password, error=True, error_css=True, addon='password')}}
				{{field_form(user_add.email, error=True, error_css=True, addon='@')}}
				<div class="text-center">
					<button role="button" type="submit" class="btn btn-primary" title="crear nueva cuenta">
						<i class="material-icons vertical-center">person_add</i>
						crear cuenta</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
