{% extends '_layout.html' %}
{% block body %}
	{%from '_macro.html' import nav_bar_top, titulo_1, nav_tabs%}
	{{ nav_bar_top(link_active='Ayuda',params=params, current_user=current_user) }}
	<div class="paper bg-white padding_3 py-3">
		{{titulo_1(bg_color='bg-dark',titulo='Ayuda')}}
		<div class="padding_3">
			<div class="mt-2">
				Bienvenido
				{{current_user.username}}, gracias por registrarte.
			</div>
			<div class="mt-2">
				<u>Se encuentra a 5 clicks de configurar y usar esta aplicación:</u>
			</div>
			<br>
			<div class="media">
				<span class="capital capital-dark">
					1
				</span>
				<div class="media-body">
					<div class="pl-2">
						Si es su primera vez, será dirigido a la sección de grupos, en la que podrá crear su primer grupo de alumnos.
						<br>
						<span class="small text-gray">
							"Tutor" será el nombre con el que usted desee mostrarse a su equipo educativo.
						</span>
					</div>
				</div>
			</div>
			<br>
			<div class="media">
				<span class="capital capital-dark">
					2
				</span>
				<div class="media-body">
					<div class="pl-2">
						Una vez creado el grupo, en el menu superior elija la opción "Alumnos". Podrá agregar tantos alumnos como desee.<br>
						<span class="small text-gray">Los alumnos pueden ser agreado de uno en uno o bien importados en un solo lote desde Séneca.
							<br>
							Para ello primero tendrá que ir a Séneca y exportar sus alumnos en fomato CSV y acontinuacion use la opción "Importar de Séneca".
						</span>
					</div>
				</div>
			</div>
			<br>
			<div class="media">
				<span class="capital capital-dark">
					3
				</span>
				<div class="media-body">
					<div class="pl-2">
						A continuación, de nuevo en el menú superior, seleccione "Asignaturas" y agregue el equipo educativo de su grupo.
					</div>
				</div>
			</div>
			<br>
			<div class="media">
				<span class="capital capital-dark">
					4
				</span>
				<div class="media-body">
					<div class="pl-2">
						Sólo le queda asignar que alumnos tienen tal o cual asignatura.
						<br>
						<span class="small text-gray">
							O si lo prefiere que asignatura tiene que alumnos.
						</span>
					</div>
				</div>
			</div>
			<br>
			<div class="media">
				<span class="capital capital-dark">
					5
				</span>
				<div class="media-body">
					<div class="pl-2">
						Enhorabuena, finalizó la configuración. Seleccione "Tutorías" -> "Agregar", indique alumno, fecha y hora.
						<br>
						<span class="small text-gray">
							La aplicación se encargará de enviar y recopilar los informes de su equipo educativo así como generar un análisis gráfico.
						</span>
					</div>
				</div>
			</div>
			<br>
			<div class="d-flex flex-row-reverse">
				<a href="/" class="btn btn-outline-dark py-1 pr-1">
					Comenzar<i class="material-icons vertical-center">navigate_next</i>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
